.txtalign
{
   text-align: center !important;
}
.fcolor
{
  color:#26618c;
}
.bgcolor
{
  background: #f5edfc;
}
.redclr {
  // color: red;
  font-size: 12px;
}
.errormsg
{
   color:#ff6969;
   font-size:12px; 
}