.bgcolor2{
    color:#dd0d75;
    font-size:21px; 
    }
    .txtalign
 {
    text-align: center !important;
 }
 .gbox{
    background:#fff;
    color:#183e7a;
    font-weight: bold;
    
  }
  .bgcolor{
    background:#55b562; 
    color:#fcee81;
    font-size:15px; 
    }