.txtalign
{
   text-align: center !important;
}

.txtalignright
{
   text-align: right !important;
}
.fcolor
{
  color:#26618c;
}
.bgcolr{
  background:#dce8d1; 
}
.errormsg
{
  color:#ff6969;
   font-size:12px; 
}
/*--------------------------------------*/


.bgcolor1
  {
    background: linear-gradient(#bcc1f5, #f4f5f8);
  }
  .imgpreview{

    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 3px;
    border-radius: 100%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0 auto;
    width: 25px;
    height:25px;
    overflow: hidden;
  
  }