<ion-header>
  <ion-toolbar color='primary'>
    <ion-title>My Station</ion-title>
    <ion-buttons slot="end">
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>



<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Police Station</ion-card-subtitle>
    <ion-card-title>{{ps_name}}</ion-card-title>
  </ion-card-header>


  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          State Name
          </ion-col>
          <ion-col>
            {{state_name}}
            </ion-col>
        </ion-row>
      <ion-row>
        <ion-col>
          District Name
          </ion-col>
          <ion-col>
            {{district_name}}
            </ion-col>
        </ion-row>

     
          <ion-row>
            <ion-col>
              <ion-button color="danger" shape="round" (click)="searcclosemodal()">Search</ion-button>
              </ion-col>
              <ion-col>
                <ion-button color="success" shape="round" (click)="closemodal()">Confirm</ion-button>
                </ion-col>
            </ion-row>
      </ion-grid>
   
  </ion-card-content>
</ion-card>

</ion-content>
