<ion-header>
  <ion-toolbar color='hospital'>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title> {{ 'acctab3.title' | translate:params }}</ion-title>
    <ion-icon slot="end" name="filter-outline" size='large'  ></ion-icon>
    <!--
 <ion-buttons slot="end">
      <ion-button  (click)="redirectoreqlist()">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    -->
  </ion-toolbar>
</ion-header>
<!--

<ion-header class="ion-no-border">

  <ion-title>

    <ion-segment scrollable>
      <ion-segment-button (click)="funPending(-1)" checked>
        <ion-label>{{ 'acctab3.pending' | translate:params }}
          <span *ngIf="pending_count">({{pending_count}})</span>
        </ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="funCompleted(-1)">
        <ion-label>{{ 'acctab3.completed' | translate:params }}
          <span *ngIf="completed_count">({{completed_count}})</span>
        </ion-label>
      </ion-segment-button>
      <ion-segment-button *ngIf="true" (click)="funSearch()">
        <ion-label>{{ 'acctab3.search' | translate:params }}
        </ion-label>
      </ion-segment-button>
      <ion-segment-button *ngIf="dept==1" (click)="funDisabled(-1)">
        <ion-label>{{ 'acctab3.deleted' | translate:params }}
          <span *ngIf="disabled_count">({{disabled_count}})</span>
        </ion-label>
      </ion-segment-button>
      <ion-segment-button *ngIf="mobiledevice" (click)="getLocalData()">
        <ion-label>Local DATA
          <span *ngIf="row_data">({{row_data.length}})</span>
        </ion-label>
      </ion-segment-button>
    </ion-segment>

  </ion-title>

</ion-header>

-->

<!-- <ion-card  style="--background:#fccf71;">
  <ion-card-content>
    {{filtercontent}}
    

  </ion-card-content>

</ion-card> -->




<ion-content class="ion-padding">

  <div *ngIf="filterflag && filtercontent!=null" class="alert">
    <span class="closebtn" (click)="clearFilter()">&times;</span> 
    <strong>Filter!</strong> {{filtercontent}}
  </div>

  <span *ngIf="segflag==1">

    <ion-refresher slot="fixed" (ionRefresh)="refPending($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>



    <ion-card *ngFor="let d of pending_data; let i = index" class="severity{{d.severity}} ion-text-center">
      <ion-card-header>
        <ion-card-subtitle>
          {{ 'app.accidentid' | translate:params }}: <b>{{d.accid.slice(-4) }} </b>
          <span *ngIf="d.fir"> - FIR/CSR : <b>{{d.fir }} </b> </span>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{d.landmark}}, On {{d.datetime}} ({{d.severity_desc}})
        <ion-label class="alignme-right"> </ion-label>
      </ion-card-content>
      <ion-item class="sev1 ">
        <span class="alignme-center" style="width: 100%;">
          <!--
      <ion-button color="primary" (click)="updateAccident(i)" fill="outline" >UPDATE &nbsp; <ion-icon name="create" slot="end"></ion-icon></ion-button>
     -->
          <!-- <ion-button *ngIf="role==5 || role==50 || role==80" color="primary" (click)="editAccident(i)" fill="outline" > ADD &nbsp; <ion-icon name="create" slot="end"></ion-icon></ion-button>
      &nbsp; <ion-button  (click)="viewAccident(i)" fill="outline" >VIEW &nbsp; <ion-icon name="newspaper-outline" slot="end"></ion-icon></ion-button>
     &nbsp; <ion-button *ngIf="role==4" color="danger" (click)="deleteAccident(i)" fill="outline">DELETE </ion-button>
     &nbsp; <ion-button *ngIf="role==4"color="warning" (click)="requestMVI(i)" fill="outline"> MVI <ion-icon name="reader-outline" slot="end" ></ion-icon></ion-button> -->

     <ion-chip outline>
      <ion-label  (click)="addlegaldata(i)">Add</ion-label>
      <ion-icon name="reader-outline"></ion-icon>
    </ion-chip>
  

          <ion-chip outline>
            <ion-label  (click)="editAccident(i)">View</ion-label>
            <ion-icon name="reader-outline"></ion-icon>
          </ion-chip>
          <ion-chip outline>
            <ion-label  (click)="rptAccident(i)">Reports</ion-label>
            <ion-icon name="reader-outline"></ion-icon>
          </ion-chip>

       
         
          <span  style="display: flex;flex: 1; text-align: center; white-space: nowrap; font-size: 10px; color: #888;"> 
            &nbsp; 
            <span *ngIf="role!=4">PS: {{d.ps}}   </span>
            <span *ngIf="d.io_user!=null && role!=4"> &nbsp; IO:{{d.io_user}} </span>
            <span *ngIf="role!=5">  &nbsp; FO:{{d.fo_user}} </span>
             
            </span>

        </span>
      </ion-item>




    </ion-card>

    <ion-card *ngIf="pending_data && pending_data.length==0">
      <ion-card-content>
        <ion-label> No data ! {{pending_data.length}} </ion-label>
      </ion-card-content>
    </ion-card>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="scrollPending($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </span>

  <span *ngIf="segflag==2">

    <ion-refresher slot="fixed" (ionRefresh)="refCompleted($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-card *ngFor="let d of comp_data; let i = index" class="severity{{d.severity}} ion-text-center">
      <ion-card-header>
        <ion-card-subtitle>
          {{ 'app.accidentid' | translate:params }}: <b>{{d.accid.slice(-4) }} </b>
          <span *ngIf="d.fir"> - FIR/CSR : <b>{{d.fir }} </b> </span>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{d.landmark}}, On {{d.datetime}} ({{d.severity_desc}})
        <ion-label class="alignme-right"> </ion-label>
      </ion-card-content>
      <ion-item class="sev1">
        <span class="alignme-center" style="width: 100%;">
          <!--<ion-button (click)="viewAccident(i)" fill="outline" slot="end">VIEW<ion-icon name="newspaper-outline" slot="end"></ion-icon></ion-button>
        <ion-button (click)="viewAccidentPDF(i)" fill="outline" slot="end">PDF<ion-icon ios="ios-document" md="md-document"></ion-icon></ion-button> -->
          <ion-chip outline (click)="viewAccident(i)" color="secondary">
            <ion-label>VIEW</ion-label>
            <ion-icon name="newspaper-outline" slot="end"></ion-icon>
          </ion-chip>
          <ion-chip outline *ngIf="(role==4 || dept==2) && (d.get_mvistatus==null || d.get_mvistatus==0)" color="tertiary" (click)="requestMVI(i)">
            <ion-label>MVI</ion-label>
          </ion-chip>
          <ion-chip outline *ngIf="(role==4 || dept==2) && d.get_mvistatus<=3 && d.get_mvistatus>=1" color="warning" (click)="requestMVI(i)">
            <ion-label>AIR Requested</ion-label>
          </ion-chip>
          <ion-chip outline *ngIf="(role==4 || dept==2) && d.get_mvistatus==4" color="success" (click)="requestMVI(i)">
            <ion-label>AIR Completed</ion-label>
          </ion-chip>

          <ion-chip outline *ngIf="role==50 && d.get_mvistatus==4" color="success" (click)="requestMVI(i)">
            <ion-label>AIR Completed</ion-label>
          </ion-chip>

          <ion-chip outline   *ngIf="d.severity=='1'">
            <ion-label>JIR</ion-label>
          </ion-chip>

          

          <ion-chip outline *ngIf="(role==4 || dept==3) && (d.get_hwstatus==null || d.get_hwstatus==0)" color="tertiary" (click)="showHW(i)">
            <ion-label>Road Details</ion-label>
          </ion-chip>

          <ion-chip outline *ngIf="(role==4 || dept==3) && d.get_hwstatus==1" color="warning" (click)="showHW(i)">
            <ion-label>Road Details</ion-label>
          </ion-chip>

          <ion-chip outline *ngIf="dept==3" color="warning" (click)="showHW(i)">
            <ion-label>Request Details</ion-label>
          </ion-chip>
          
          <span  style="display: flex;flex: 1; text-align: center; white-space: nowrap; font-size: 10px; color: #888;"> 
            &nbsp; 
            <span *ngIf="role!=4">PS: {{d.ps}}   </span>
            <span *ngIf="d.io_user!=null && role!=4"> &nbsp; IO:{{d.io_user}} </span>
            <span *ngIf="role!=5">  &nbsp; FO:{{d.fo_user}} </span>
             
            </span>
          
        </span>
      </ion-item>

    </ion-card>

    <ion-card *ngIf="comp_data && comp_data.length==0">
      <ion-card-content>
        <ion-label> No data ! </ion-label>
      </ion-card-content>
    </ion-card>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="scrollCompleted($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </span>

  <span *ngIf="segflag==3">

    <ion-refresher slot="fixed" (ionRefresh)="refDisabled($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-card *ngFor="let d of disabled_data; let i = index" class="severity{{d.severity}} ion-text-center">
      <ion-card-header>
        <ion-card-subtitle>
          {{ 'app.accidentid' | translate:params }}: <b>{{d.accid.slice(-4) }} </b>
          <span *ngIf="d.fir"> - FIR/CSR : <b>{{d.fir }} </b> </span>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{d.landmark}}, On {{d.datetime}} ( {{d.severity_desc}} )
        <ion-label class="alignme-right"> </ion-label>
      </ion-card-content>
      <ion-item class="sev1">

        
        <ion-button (click)="viewAccident(i)" fill="outline" slot="end">VIEW<ion-icon name="newspaper-outline"
            slot="end"></ion-icon>
        </ion-button>

        <span *ngIf="role==4" style="display: flex;flex: 1; text-align: center; white-space: nowrap; font-size: 10px; color: #888;"> FO:{{d.fo_user}}</span>

      </ion-item>

    </ion-card>
    <ion-card *ngIf="disabled_data && disabled_data.length==0">
      <ion-card-content>
        <ion-label> No data ! </ion-label>
      </ion-card-content>
    </ion-card>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="scrollDisabled($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </span>

  <span *ngIf="segflag==5">

    <ion-refresher slot="fixed" (ionRefresh)="refLocal($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-card *ngFor="let d of row_data; let i = index" class="severity{{d.severity}}">
      <ion-card-header>
        <ion-card-subtitle>
          {{ 'app.accidentid' | translate:params }}: <b>{{d.accid.slice(-4) }} </b>
          <span *ngIf="d.fir"> - FIR/CSR : <b>{{d.fir }} </b> </span>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{d.LocationName}}, On {{d.ValueDateTime}} ( {{d.Flag}} )
        <ion-label class="alignme-right"> </ion-label>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="row_data && row_data.length==0">
      <ion-card-content>
        <ion-label> No data ! </ion-label>
      </ion-card-content>
    </ion-card>
  </span>


  <span *ngIf="segflag==4">
    <ion-toolbar>

      <!--   <ion-searchbar
   placeholder="Accident Id / FIR / CSR / Lanmark" animated 
  [(ngModel)]="searchInput"
  
  (keyup.enter)="funSearchEnter(-1)"
  (ionCancel)="onSearchCancel($event)">
</ion-searchbar> -->
      <ion-item>
        <ion-icon name="server-outline" color="warning" slot="start"></ion-icon>
        <ion-input [(ngModel)]="searchInput" placeholder="Accident Id / FIR / CSR / Lanmark / Vehicle Reg. No"
          (keyup.enter)="funSearchEnter(-1)" animated></ion-input>
        <ion-icon *ngIf="searchInput" color="primary" (click)="funSearchEnter(-1)" name="search-outline" slot="end">
        </ion-icon>
        <ion-icon *ngIf="searchInput" color="danger" (click)="onSearchCancel()" name="close-outline" slot="end">
        </ion-icon>
      </ion-item>


    </ion-toolbar>

    <ion-text color="secondary" *ngIf="searchedInput">
      <h6 style="color: #888;"> &nbsp; Results of Searching : '{{searchedInput}}'</h6>
    </ion-text>


    <ion-card *ngFor="let d of search_data; let i = index" class="severity{{d.severity}} ion-text-center">
      <ion-card-header>
        <ion-card-subtitle>
          {{ 'app.accidentid' | translate:params }}: <b>{{d.accid.slice(-4) }} </b>
          <span *ngIf="d.fir"> - FIR/CSR : <b>{{d.fir }} </b> </span>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{d.landmark}}, On {{d.datetime}} ( {{d.severity_desc}} )
        <ion-label class="alignme-right"> </ion-label>
      </ion-card-content>
      <ion-item class="sev1">

        <ion-button (click)="viewAccident(i)" fill="outline" slot="end">VIEW<ion-icon name="newspaper-outline"
            slot="end"></ion-icon>
        </ion-button>

        <span  style="display: flex;flex: 1; text-align: center; white-space: nowrap; font-size: 10px; color: #888;"> 
        &nbsp; 
        <span *ngIf="role!=4">PS: {{d.ps}}   </span>
        <span *ngIf=" d.io_user!=null && role!=4"> &nbsp; IO:{{d.io_user}} </span>
        <span *ngIf="role!=5">  &nbsp; FO:{{d.fo_user}} </span>
         
        </span>
      </ion-item>

    </ion-card>
    <ion-card *ngIf="search_data && search_data.length==0">
      <ion-card-content>
        <ion-label> No data ! </ion-label>
      </ion-card-content>
    </ion-card>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="scrollSearch($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </span>
  <!-- Skeleton screen -->
  <div *ngIf="loading">

    <ion-list>
      <ion-list-header>
        <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
      </ion-list-header>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-skeleton-text animated style="width: 27px; height: 27px" slot="start"></ion-skeleton-text>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
<style>
  ion-content {
    --background: #e8f8ff;
  }

  ion-card-subtitle {
    color: #444;
  }

  ion-card-content {
    color: #555;
  }
</style>