<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Victim Details </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close" slot="end"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="stacked" class="fcolor"
          >Vehicle No
          <ion-icon name="star" class="mandatory"></ion-icon>
        </ion-label>
        <ion-select
          interface="alert"
          (ionChange)="loadvehicledetail($event)"
          id="vehicle_reg_no"
          name="vehicle_reg_no"
          [(ngModel)]="vehicle_reg_no"
          required
        >
          <ion-select-option *ngFor="let item of vehicle" [value]="item.id">
            {{ item.vehicle_reg_no }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="stacked" class="fcolor"
          >Name
          <ion-icon name="star" class="mandatory"></ion-icon>
        </ion-label>
        <ion-select
          interface="alert"
          (ionChange)="loadvictimdetails($event)"
          id="vname"
          name="vname"
          [(ngModel)]="vname"
          required
        >
          <ion-select-option *ngFor="let item of victim" [value]="item">
            {{ item.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-card *ngIf="flag == 1">
    <ion-item>
      <ion-label style="color: tomato; text-align: center">
        <strong>Computation of compensation for Death</strong>
      </ion-label>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" class="fcolor"
            >Is Company admit liablity?
          </ion-label>

          <ion-select
            [(ngModel)]="getdeathconfirmation"
            (ionChange)="flagyesorno()"
          >
            <ion-select-option value="1"> Yes </ion-select-option>
            <ion-select-option value="0"> No </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <div *ngIf="yesno == 0">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating" class="fcolor"
              >Contesting Ground</ion-label
            >
            <ion-input [(ngModel)]="liablityreason"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="full" (click)="savebutton2only()"
            >Save</ion-button
          >
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="yesno == 1">
      <form name="form" (ngSubmit)="f.form.valid && savebutton2()" #f="ngForm">
        <!------------------------------------INCOME OF DECEASED NG MODEL IS NOT A TABLE NAME----------------------------------------------------->

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" class="fcolor" (click)="addA()">
                Income of the deceased(A)</ion-label
              >
              <ion-input
                id="death_income"
                name="death_income"
                type="number"
                #incomeofdec="ngModel"
                type="number"
                [(ngModel)]="death_income"
                required
              ></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && incomeofdec.invalid">
              <p class="errormsg" *ngIf="incomeofdec.errors.required">
                Income of the deceased is Required
              </p>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" class="fcolor"
                >Add Future Prospect(B)</ion-label
              >
              <ion-input
                type="tel"
                type="number"
                id="death_future_prospects"
                name="death_future_prospects"
                type="number"
                #addfuturepros="ngModel"
                (click)="addB()"
                [(ngModel)]="death_future_prospects"
                required
              ></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && addfuturepros.invalid">
              <p class="errormsg" *ngIf="addfuturepros.errors.required">
                Add Future Prospect is Required
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" class="fcolor" (click)="addC()"
                >Less-Personal expenses of the deceased(C)</ion-label
              >
              <ion-input
                type="number"
                id="death_less_personal_expenses"
                name="death_less_personal_expenses"
                #lesspersonalexpense="ngModel"
                [(ngModel)]="death_less_personal_expenses"
                required
              ></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && lesspersonalexpense.invalid">
              <p class="errormsg" *ngIf="lesspersonalexpense.errors.required">
                Less-Personal expenses of the deceased is Required
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked" class="fcolor">
                Monthly loss of dependency[(A+B)-C=D]</ion-label
              >
              <ion-input
                type="number"
                id="death_monthly_loss_depedency"
                name="death_monthly_loss_depedency"
                type="number"
                #montlydependency="ngModel"
                [(ngModel)]="death_monthly_loss_depedency"
              >
                {{
                  death_income * 1 +
                    death_future_prospects * 1 -
                    death_less_personal_expenses
                }}
                <!-- {{(incomeofdeceaded * 1 + darinsurancedeath.death_future_prospects * 1) - darinsurancedeath.death_less_personal_expenses}}-->
              </ion-input>
            </ion-item>
            <div *ngIf="f.submitted && montlydependency.invalid">
              <p class="errormsg" *ngIf="montlydependency.errors.required">
                Monthly loss of dependency is Required
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked" class="fcolor">
                Annual loss of dependency(D*12)</ion-label
              >
              <ion-input
                type="number"
                id="death_anual_loss_depedency"
                name="death_anual_loss_depedency"
                type="number"
                #annualloss="ngModel"
                [(ngModel)]="death_anual_loss_depedency"
              >
                {{
                  (death_income * 1 +
                    death_future_prospects * 1 -
                    death_less_personal_expenses) *
                    12
                }}
                <!--{{((incomeofdeceaded * 1 + darinsurancedeath.death_future_prospects * 1) - darinsurancedeath.death_less_personal_expenses)*12}}--></ion-input
              >
            </ion-item>
            <div *ngIf="f.submitted && annualloss.invalid">
              <p class="errormsg" *ngIf="annualloss.errors.required">
                Annual loss of dependency is Required
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" class="fcolor">
                Multiplier(E)</ion-label
              >
              <ion-input
                type="number"
                id="death_mulltiplier"
                name="death_mulltiplier"
                type="number"
                #multiplier="ngModel"
                [(ngModel)]="death_mulltiplier"
                required
              ></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && multiplier.invalid">
              <p class="errormsg" *ngIf="multiplier.errors.required">
                Multiplier is Required
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked" class="fcolor">
                Total loss of dependency(E*12*D=F)</ion-label
              >
              <ion-input
                type="number"
                id="death_total_loss_dependency"
                name="death_total_loss_dependency"
                #totallossdependency="ngModel"
                [(ngModel)]="death_total_loss_dependency"
              >
                {{
                  (death_income * 1 +
                    death_future_prospects * 1 -
                    death_less_personal_expenses) *
                    12 *
                    death_mulltiplier
                }}</ion-input
              >
            </ion-item>
            <div *ngIf="f.submitted && totallossdependency.invalid">
              <p class="errormsg" *ngIf="totallossdependency.errors.required">
                Total loss of dependency is Required
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" class="fcolor"
                >Medical Expenses(G)</ion-label
              >
              <ion-input
                type="number"
                id="death_medical_expenses"
                name="death_medical_expenses"
                type="number"
                #medicaex="ngModel"
                [(ngModel)]="death_medical_expenses"
                required
              ></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && medicaex.invalid">
              <p class="errormsg" *ngIf="medicaex.errors.required">
                Medical Expenses is Required
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" class="fcolor"
                >Compensation for loss of consortium(H)</ion-label
              >
              <ion-input
                type="number"
                id="death_loss_consortium"
                name="death_loss_consortium"
                type="number"
                #compensationoflossconsortium="ngModel"
                [(ngModel)]="death_loss_consortium"
                required
              ></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && compensationoflossconsortium.invalid">
              <p
                class="errormsg"
                *ngIf="compensationoflossconsortium.errors.required"
              >
                Compensation for loss of consortium is Required
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" class="fcolor"
                >Compensation for loss for love and affection(I)</ion-label
              >
              <ion-input
                type="number"
                id="death_loss_for_love_affection"
                name="death_loss_for_love_affection"
                type="number"
                #compensationoflossaffection="ngModel"
                [(ngModel)]="death_loss_for_love_affection"
                required
              ></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && compensationoflossaffection.invalid">
              <p
                class="errormsg"
                *ngIf="compensationoflossaffection.errors.required"
              >
                Compensation for loss for love and affection is Required
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" class="fcolor"
                >Compensation for loss of estate(J)</ion-label
              >
              <ion-input
                type="number"
                id="death_loss_estate"
                name="death_loss_estate"
                type="number"
                #lossofestate="ngModel"
                [(ngModel)]="death_loss_estate"
                required
              ></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && lossofestate.invalid">
              <p class="errormsg" *ngIf="lossofestate.errors.required">
                Compensation for loss of estate is Required
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" class="fcolor"
                >Compensation toward funeral expenses(K)</ion-label
              >
              <ion-input
                type="number"
                id="death_loss_funeral_expenses"
                name="death_loss_funeral_expenses"
                type="number"
                #funeralexpense="ngModel"
                [(ngModel)]="death_loss_funeral_expenses"
                required
              ></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && funeralexpense.invalid">
              <p class="errormsg" *ngIf="funeralexpense.errors.required">
                Compensation toward funeral expenses is Required
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked" class="fcolor"
                >Total Compensation(F+G+H+I+J+K=L)</ion-label
              >
              <ion-input
                type="number"
                id="death_total_compensation"
                name="death_total_compensation"
                type="number"
                #totalcompen="ngModel"
                [(ngModel)]="death_total_compensation"
                >{{
                  (death_income * 1 +
                    death_future_prospects * 1 -
                    death_less_personal_expenses) *
                    12 *
                    death_mulltiplier *
                    1 +
                    death_medical_expenses * 1 +
                    death_loss_consortium * 1 +
                    death_loss_for_love_affection * 1 +
                    death_loss_estate * 1 +
                    death_loss_funeral_expenses * 1
                }}</ion-input
              >
            </ion-item>
            <div *ngIf="f.submitted && totalcompen.invalid">
              <p class="errormsg" *ngIf="totalcompen.errors.required">
                Total Compensation is Required
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked" class="fcolor">Interest</ion-label>
              <ion-input
                type="number"
                id="death_interest"
                name="death_interest"
                type="number"
                #totalcompen="ngModel"
                [(ngModel)]="death_interest"
              ></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && totalcompen.invalid">
              <p class="errormsg" *ngIf="totalcompen.errors.required">
                Total Compensation is Required
              </p>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col width-50 style="text-align: right" color="primary">
            <ion-button color="light" (click)="closeModal()">Cancel</ion-button>
          </ion-col>
          <ion-col width-50 style="text-align: left" color="primary">
            <ion-button color="light" type="submit">Save</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </div>
  </ion-card>

  <ion-card *ngIf="flag == 2">
    <ion-item>
      <ion-label style="color: tomato; text-align: center">
        <strong>Computation of compensation for Injured</strong>
      </ion-label>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" class="fcolor"
            >Is Company admit liablity?
          </ion-label>

          <ion-select
            [(ngModel)]="getdeathconfirmationinjury"
            (ionChange)="flagyesornoinjured()"
          >
            <ion-select-option value="1"> Yes </ion-select-option>
            <ion-select-option value="0"> No </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <div *ngIf="yesnoinjury == 0">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating" class="fcolor"
              >Contesting Ground</ion-label
            >
            <ion-input [(ngModel)]="liablityreasoninjury"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="full" (click)="savebuttonliablity()"
            >Save</ion-button
          >
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="yesnoinjury == 1">
      <form name="form" (ngSubmit)="f.form.valid && savebutton()" #f="ngForm">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" class="fcolor">
                Monthly Income</ion-label
              >
              <ion-input
                id="inj_income"
                name="inj_income"
                #injincome="ngModel"
                [(ngModel)]="inj_income"
                required
              ></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && injincome.invalid">
              <p class="errormsg" *ngIf="injincome.errors.required">
                Expenditure on treatment is Required
              </p>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" class="fcolor">
                Nature of Injury</ion-label
              >
              <ion-input
                id="inj_natureofinjury"
                name="inj_natureofinjury"
                #injnatureofinjury="ngModel"
                [(ngModel)]="inj_natureofinjury"
                required
              ></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && injnatureofinjury.invalid">
              <p class="errormsg" *ngIf="injnatureofinjury.errors.required">
                Expenditure on treatment is Required
              </p>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" class="fcolor"
                >Details of medical treatment</ion-label
              >
              <ion-input
                id="inj_medical_treatment"
                name="inj_medical_treatment"
                #injmedicaltreatment="ngModel"
                [(ngModel)]="inj_medical_treatment"
                required
              ></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && injmedicaltreatment.invalid">
              <p class="errormsg" *ngIf="injmedicaltreatment.errors.required">
                Expenditure on treatment is Required
              </p>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" class="fcolor"
                >Permanent disability
              </ion-label>
              <ion-select
                id="inj_permenant_disablity"
                name="inj_permenant_disablity"
                [(ngModel)]="inj_permenant_disablity"
                #injpermenantdisablity="ngModel"
                required
              >
                <ion-select-option value="Yes"> Yes </ion-select-option>
                <ion-select-option value="No"> No </ion-select-option>
              </ion-select>
            </ion-item>
            <div *ngIf="f.submitted && injpermenantdisablity.invalid">
              <p class="errormsg" *ngIf="injpermenantdisablity.errors.required">
                Ths Field is Required
              </p>
            </div>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="inj_permenant_disablity == 'Yes'">
          <ion-col>
            <ion-item>
              <ion-label position="floating" class="fcolor">
                Details of permanent disability (if any)</ion-label
              >
              <ion-input
                id="inj_permenant_disablity_details"
                name="inj_permenant_disablity_details"
                #injpermenantdisablity_details="ngModel"
                [(ngModel)]="inj_permenant_disablity_details"
                required
              ></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && injpermenantdisablity_details.invalid">
              <p
                class="errormsg"
                *ngIf="injpermenantdisablity_details.errors.required"
              >
                Expenditure on treatment is Required
              </p>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" class="fcolor">
                Expenditure on treatment</ion-label
              >
              <ion-input
                id="inj_treatment"
                name="inj_treatment"
                type="number"
                #expendituretratment="ngModel"
                [(ngModel)]="inj_treatment"
                required
              ></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && expendituretratment.invalid">
              <p class="errormsg" *ngIf="expendituretratment.errors.required">
                Expenditure on treatment is Required
              </p>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" class="fcolor">
                Expenditure on conveyance</ion-label
              >
              <ion-input
                id="inj_convenance"
                name="inj_convenance"
                type="number"
                #exconveyance="ngModel"
                [(ngModel)]="inj_convenance"
                required
              ></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && exconveyance.invalid">
              <p class="errormsg" *ngIf="exconveyance.errors.required">
                Expenditure on conveyance is Required
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" class="fcolor">
                Expenditure on Special Diet</ion-label
              >
              <ion-input
                id="inj_special_diet"
                name="inj_special_diet"
                type="number"
                #specialdiet="ngModel"
                [(ngModel)]="inj_special_diet"
                required
              ></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && specialdiet.invalid">
              <p class="errormsg" *ngIf="specialdiet.errors.required">
                Expenditure on Special Diet is Required
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" class="fcolor">
                Cost of nursing/attendant</ion-label
              >
              <ion-input
                id="inj_cost_nursing_attendant"
                name="inj_cost_nursing_attendant"
                type="number"
                #costofnuesung="ngModel"
                [(ngModel)]="inj_cost_nursing_attendant"
                required
              ></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && costofnuesung.invalid">
              <p class="errormsg" *ngIf="costofnuesung.errors.required">
                Cost of nursing/attendant is Required
              </p>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" class="fcolor">
                Cost of artificial limb</ion-label
              >
              <ion-input
                id="inj_cost_artificial_limp"
                name="inj_cost_artificial_limp"
                type="number"
                #artificaiallimb="ngModel"
                [(ngModel)]="inj_cost_artificial_limp"
                required
              ></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && artificaiallimb.invalid">
              <p class="errormsg" *ngIf="artificaiallimb.errors.required">
                Cost of artificial limb is Required
              </p>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" class="fcolor">
                Loss of earning capacity</ion-label
              >
              <ion-input
                id="inj_loss_erning_capacity"
                name="inj_loss_erning_capacity"
                type="number"
                #lossofearningis="ngModel"
                [(ngModel)]="inj_loss_erning_capacity"
                required
              ></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && lossofearningis.invalid">
              <p class="errormsg" *ngIf="lossofearningis.errors.required">
                Loss of earning capacity is Required
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" class="fcolor">
                Loss of income</ion-label
              >
              <ion-input
                id="inj_loss_income"
                name="inj_loss_income"
                type="number"
                #lossofincomeis="ngModel"
                [(ngModel)]="inj_loss_income"
                required
              ></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && lossofincomeis.invalid">
              <p class="errormsg" *ngIf="lossofincomeis.errors.required">
                Loss of income is Required
              </p>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" class="fcolor">
                Any other loss which may required any special treatment or aid
                to the injured for the rest of his life</ion-label
              >
              <ion-input
                id="inj_any_other_loss"
                name="inj_any_other_loss"
                type="number"
                #anyspecialtreatment="ngModel"
                [(ngModel)]="inj_any_other_loss"
                required
              ></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && anyspecialtreatment.invalid">
              <p class="errormsg" *ngIf="anyspecialtreatment.errors.required">
                Any other loss which may required any special treatment or aid
                to the injured for the rest of his life is Required
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" class="fcolor"
                >Compensation for mental and physical shock</ion-label
              >
              <ion-input
                id="inj_com_mental_phy_shock"
                name="inj_com_mental_phy_shock"
                type="number"
                #compensationmental="ngModel"
                [(ngModel)]="inj_com_mental_phy_shock"
                required
              ></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && compensationmental.invalid">
              <p class="errormsg" *ngIf="compensationmental.errors.required">
                Less-Personal expenses of the deceased is Required
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" class="fcolor"
                >Pain and suffering</ion-label
              >
              <ion-input
                id="inj_pain_suffering"
                name="inj_pain_suffering"
                type="number"
                #painsuffering="ngModel"
                [(ngModel)]="inj_pain_suffering"
                required
              ></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && painsuffering.invalid">
              <p class="errormsg" *ngIf="painsuffering.errors.required">
                Less-Personal expenses of the deceased is Required
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" class="fcolor"
                >Loss of amenities of life</ion-label
              >
              <ion-input
                id="inj_loss_amenities"
                name="inj_loss_amenities"
                type="number"
                #lossamenities="ngModel"
                [(ngModel)]="inj_loss_amenities"
                required
              ></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && lossamenities.invalid">
              <p class="errormsg" *ngIf="lossamenities.errors.required">
                Less-Personal expenses of the deceased is Required
              </p>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" class="fcolor"
                >Disfiguration</ion-label
              >
              <ion-input
                id="inj_disfiguration"
                name="inj_disfiguration"
                type="number"
                #disfiguration="ngModel"
                [(ngModel)]="inj_disfiguration"
                required
              ></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && disfiguration.invalid">
              <p class="errormsg" *ngIf="disfiguration.errors.required">
                Less-Personal expenses of the deceased is Required
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" class="fcolor"
                >Loss of marriage prospects</ion-label
              >
              <ion-input
                id="inj_loss_of_marriage"
                name="inj_loss_of_marriage"
                type="number"
                #lossofmarriage="ngModel"
                [(ngModel)]="inj_loss_of_marriage"
                required
              ></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && lossofmarriage.invalid">
              <p class="errormsg" *ngIf="lossofmarriage.errors.required">
                Less-Personal expenses of the deceased is Required
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" class="fcolor"
                >Loss of
                earning,inconvenience,hardships,disappointment,frustration,mental
                stress,dejectment and unhappiness in future life etc.</ion-label
              >
              <ion-input
                id="inj_loss_ear_inc_har_dis"
                name="inj_loss_ear_inc_har_dis"
                type="number"
                #lossofearning="ngModel"
                [(ngModel)]="inj_loss_ear_inc_har_dis"
                required
              ></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && lossofearning.invalid">
              <p class="errormsg" *ngIf="lossofearning.errors.required">
                Less-Personal expenses of the deceased is Required
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked" class="fcolor"
                >Total Compensation</ion-label
              >
              <ion-input
                id="inj_total_copensation"
                name="inj_total_copensation"
                [(ngModel)]="inj_total_copensation"
                >{{
                  inj_treatment * 1 +
                    inj_convenance * 1 +
                    inj_special_diet * 1 +
                    inj_cost_nursing_attendant * 1 +
                    inj_cost_artificial_limp * 1 +
                    inj_loss_erning_capacity * 1 +
                    inj_loss_income * 1 +
                    inj_any_other_loss * 1 +
                    inj_com_mental_phy_shock * 1 +
                    inj_pain_suffering * 1 +
                    inj_loss_amenities * 1 +
                    inj_disfiguration * 1 +
                    inj_loss_of_marriage * 1 +
                    inj_loss_ear_inc_har_dis * 1
                }}</ion-input
              >
            </ion-item>
          </ion-col>
        </ion-row>
        <!----------------------------------------NEW------------------------------------------>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" class="fcolor"
                >Percentage of disability assessed
              </ion-label>
              <ion-input
                id="inj_disablity_percentage"
                name="inj_disablity_percentage"
                #injdisablitypercentage="ngModel"
                [(ngModel)]="inj_disablity_percentage"
                required
              ></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && injdisablitypercentage.invalid">
              <p
                class="errormsg"
                *ngIf="injdisablitypercentage.errors.required"
              >
                This Field is Required
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" class="fcolor">
                Nature of disability as permanent or temporary</ion-label
              >
              <ion-input
                id="permanent_or_temporary_disablity"
                name="permanent_or_temporary_disablity"
                #permanentortemporarydisablity="ngModel"
                [(ngModel)]="permanent_or_temporary_disablity"
                required
              ></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && permanentortemporarydisablity.invalid">
              <p
                class="errormsg"
                *ngIf="permanentortemporarydisablity.errors.required"
              >
                This Field is Required
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" class="fcolor"
                >Loss of amenities or loss of expectation of life span on
                account of disability</ion-label
              >
              <ion-input
                id="inj_amenities_lifespan"
                name="inj_amenities_lifespan"
                type="number"
                #injamenitieslifespan="ngModel"
                [(ngModel)]="inj_amenities_lifespan"
                required
              ></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && injamenitieslifespan.invalid">
              <p class="errormsg" *ngIf="injamenitieslifespan.errors.required">
                This Field is Required
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" class="fcolor"
                >Percentage of loss of earning capacity in relation to
                disability
              </ion-label>
              <ion-input
                id="inj_percentage_earning_capacity"
                name="inj_percentage_earning_capacity"
                #injpercentageearningcapacity="ngModel"
                [(ngModel)]="inj_percentage_earning_capacity"
                required
              ></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && injpercentageearningcapacity.invalid">
              <p
                class="errormsg"
                *ngIf="injpercentageearningcapacity.errors.required"
              >
                This Field is Required
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" class="fcolor"
                >Multiplier</ion-label
              >
              <ion-input
                id="multiplier"
                name="
          
          "
                type="number"
                #multiplierreq="ngModel"
                [(ngModel)]="multiplier"
                required
              ></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && multiplierreq.invalid">
              <p class="errormsg" *ngIf="multiplierreq.errors.required">
                This Field is Required
              </p>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked" class="fcolor"
                >Loss of future Income - (Income x % Earning Capacity x
                Multiplier)</ion-label
              >
              <ion-input>{{
                inj_income *
                  (inj_percentage_earning_capacity / 100) *
                  multiplier
              }}</ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" class="fcolor">Interest</ion-label>
              <ion-input
                id="inj_intrest"
                name="inj_intrest"
                type="number"
                #injintrest="ngModel"
                [(ngModel)]="inj_intrest"
                required
              ></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && injintrest.invalid">
              <p class="errormsg" *ngIf="injintrest.errors.required">
                This Field is Required
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-50 style="text-align: right" color="primary">
            <ion-button color="light" (click)="closeModal()">Cancel</ion-button>
          </ion-col>
          <ion-col width-50 style="text-align: left" color="primary">
            <ion-button color="light" type="submit">Save</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </div>
  </ion-card>
</ion-content>
