<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Release Notes</ion-title>
    <ion-buttons slot="end">
      <ion-button  routerLink="/home">
        <ion-icon name="home" slot="end"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >


  <!-- <ion-text style='text-align:center; ' >
    <ion-img style='text-align:center ; 'alt="About iRAD" src="assets/logos/irad_about.jpg"></ion-img>
  </ion-text> -->

  


   
   <!-- <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Madison, WI</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content> -->

  <!--

    Driver,Passenger, pedestrian, Witness Picture option added
witness option added 
Driver page updated 
Map Filter added
Dashboard updated

  -->

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Release Notes</ion-card-subtitle>
        <ion-card-title>iRAD 2.0.8</ion-card-title>
        <ion-card-subtitle>Dec 2021</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
<p style="white-space:pre-wrap;">
1. Location - Animal and no Injury option added
2. General Info - Property Damage option added
3. Driver,Passenger, pedestrian - capture photo option added
4. Witness option added
5. Dashboard updated for Tansport, Highways and State SPOC
6. Usermanagement - State SPOC Added
7. RTO Office update option added with Geo-Location
8. Map - RTO Location Added and Filter option updated 
</p> 
<p style="white-space:pre-wrap;">
and <br>
The latest version contains bug fixes and performance improvements.
</p> 
      </ion-card-content>
    </ion-card>

</ion-content>
