<ion-header>
  <ion-toolbar color="primary">
    <ion-title class='txtalign'>
      {{titlevechile}}
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="previousbtn()" [disabled]="!prvbutton" fill='outline'>
        <ion-icon slot="start" name="arrow-back"></ion-icon> {{'acctab1.acc.veh.prev' | translate:params}}
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="nextbtn()" [disabled]="!nxtbutton" fill='outline'>
        {{'acctab1.acc.veh.next' | translate:params}} <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class='ion-no-padding'>
  <ion-text style='text-align:center; ' color="primary" [hidden]='!validaccid'>
    <h4 style="color:#183e7a">{{'commonlinks.vehicle' | translate:params}} </h4>

  </ion-text>
  <form [formGroup]="VechileDriverFG" [hidden]='validaccid' (ngSubmit)="savevehile()" novalidate>
    <div class='txtalign bgclr2'><span class='liteclt'> {{updated_count}}/{{vechile_count}}</span>
    </div>
    <span [hidden]="!vechile1">

      <ion-grid class='ion-no-padding'>

        <ion-row>

          <ion-col>

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'>{{'acctab1.acc.veh.vehiclecategory' | translate:params}}
              </ion-label>
              <ion-select formControlName='vacategory' interface="alert" (ionChange)="vehiclecategory($event)">
                <ion-select-option value="1">{{'commonlinks.motorisedfuel' | translate:params}}</ion-select-option>
                <ion-select-option value="2"> {{'commonlinks.motorisedelectric' | translate:params}}</ion-select-option>
                <ion-select-option value="0"> {{'commonlinks.nonmotorised' | translate:params}}</ion-select-option>
             

              </ion-select>
            </ion-item>

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col *ngIf="this.VechileDriverFG.controls['vacategory'].value !=0">

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label class='fcolor' position="floating">{{'acctab1.acc.veh.regnstatus' | translate:params}}
              </ion-label>
              <ion-select formControlName='regnstatus' interface="alert" (ionChange)="rgnstatuscheck($event)">
                <ion-select-option *ngFor="let d of options13; let i = index" value="{{d.id}}">
                  {{d.name}}
                </ion-select-option>

              </ion-select>
            </ion-item>

          </ion-col>
          <ion-col>

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label class='fcolor'>{{'acctab1.acc.veh.hitandrun' | translate:params}}</ion-label>
              <ion-toggle color='danger' (click)="addValue()"></ion-toggle>
            </ion-item>
          </ion-col>
        </ion-row>


        
        <ion-row>
          <ion-col>

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'>{{'acctab1.acc.veh.disposition' | translate:params}}
              </ion-label>
              <ion-select formControlName='vdispostion' interface="alert" (ionChange)='change_vdispostion($event)'>
                <ion-select-option value="Can be Driven away"> {{'commonlinks.canbedrivenaway' | translate:params}}
                </ion-select-option>
                <ion-select-option value="Need to be towed"> {{'commonlinks.needtobetowed' | translate:params}}
                </ion-select-option>
                <ion-select-option value="Can not be towed"> {{'commonlinks.cannotbetowed' | translate:params}}
                </ion-select-option>
              </ion-select>
            </ion-item>

          </ion-col>

          <!--
            <ion-col>

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'>{{'acctab1.acc.veh.manouvere' | translate:params}}
              </ion-label>
              <ion-select formControlName='vmotion' multiple="true" interface="alert" (ionChange)="getvalue($event)">
                <ion-select-option *ngFor="let d of options6; let i = index" value="{{d.id}}">
                  {{d.name}}
                </ion-select-option>
              </ion-select>
            </ion-item>

          </ion-col>
          -->
        </ion-row>

        <ion-row>
          <ion-col>

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'>{{'acctab1.acc.veh.vdamages' | translate:params}}
              </ion-label>
              <ion-select multiple="true" formControlName='vdamges' interface="alert">
                <ion-select-option *ngFor="let d of options7; let i = index" value="{{d.id}}" [disabled]="d.disabled"> 
                  {{d.name}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col>

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'>{{'acctab1.acc.veh.accusedvictim' | translate:params}}
              </ion-label>
              <ion-select formControlName='vaccuedorivctim' interface="alert">
                <ion-select-option value="Accused">{{'commonlinks.accused' | translate:params}}</ion-select-option>
                <ion-select-option value="Victim">{{'commonlinks.victim' | translate:params}}</ion-select-option>
                <ion-select-option value="Not Known">{{'commonlinks.notknown' | translate:params}}</ion-select-option>
              </ion-select>
            </ion-item>

          </ion-col>
        </ion-row>


        <ion-row>

          <ion-col>

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item *ngIf="false" [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'>{{'acctab1.acc.veh.vehilcedefect' | translate:params}}
              </ion-label>
              <ion-select multiple="true" formControlName='vdefect' interface="alert">
                <ion-select-option *ngFor="let d of options5; let i = index" value="{{d.id}}">
                  {{d.name}}
                </ion-select-option>
              </ion-select>
            </ion-item>

          </ion-col>

        </ion-row>
        <ion-row>
          <ion-col [hidden]="vcategory">
            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'>{{'acctab1.acc.veh.vehicletype' | translate:params}}
              </ion-label>
              <ion-select formControlName='uservehicletype'  interface="alert">
                <ion-select-option *ngFor="let d of options8; let i = index" value="{{d.id}}">
                  {{d.name}}
                </ion-select-option>

              </ion-select>
            </ion-item>
            <p class='errormsg' *ngIf="isSubmitted && errorControl.uservehicletype.errors?.required">
              {{'errmsg.Vehicletype' | translate:params}}
            </p>


          </ion-col>
          <ion-col style='display: none;'>

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'>{{'acctab1.acc.veh.vehiclesubtype' | translate:params}}
              </ion-label>
              <ion-select formControlName='uservehiclesubtype' interface="alert">
                <ion-select-option *ngFor="let d of options9; let i = index" value="{{d.id}}">
                  {{d.name}}
                </ion-select-option>


              </ion-select>
            </ion-item>

          </ion-col>

        </ion-row>

        <ion-row>
          <ion-col>

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'>{{'acctab1.acc.veh.loadcategory' | translate:params}}
              </ion-label>
              <ion-select formControlName='loadcategory' interface="alert" (ionChange)="loadcondtions($event)">
                <ion-select-option value="Passenger">{{'commonlinks.passengers' | translate:params}}</ion-select-option>
                <ion-select-option value="Goods"> {{'commonlinks.goods' | translate:params}}</ion-select-option>

              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col>

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'>{{'acctab1.acc.veh.loadcondtion' | translate:params}}
              </ion-label>
              <ion-select formControlName='vloadcondtion' interface="alert">
                <ion-select-option *ngFor="let d of option14; let i = index" value="{{d.id}}">
                  {{d.name}}
                </ion-select-option>
              </ion-select>
            </ion-item>

          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col *ngIf="this.VechileDriverFG.controls['vacategory'].value !=0">

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label class='fcolorred' position="floating">{{'acctab1.acc.veh.vehicle_rgn' | translate:params}}
                <ion-icon name="star" class='mandatory'></ion-icon>
              </ion-label>

              <ion-input formControlName='vechile_registernr' class="ion-text-uppercase" (keyup)="changedetect()" maxlength='15'></ion-input>
              <ion-button [disabled]="chkedit" [hidden]="vahanflag" shape="round" (click)="getvahan()" color='tertiary' slot="end">
                <ion-icon name="cloud-download"></ion-icon>&nbsp;&nbsp;&nbsp;VAHAN
              </ion-button>
              <ion-button [hidden]="!vahanflag" shape="round" color='tertiary' slot="end">
                <ion-spinner name="circles"> </ion-spinner>&nbsp; Loading
              </ion-button>

            </ion-item>


            <p class='errormsg' *ngIf="isSubmitted && errorControl.vechile_registernr.errors?.required">

              {{'errmsg.vehiclerngrqr' | translate:params}}
            </p>
            <p class='errormsg' *ngIf="isSubmitted && errorControl.vechile_registernr.errors?.pattern">

              {{'errmsg.specialchar' | translate:params}}
            </p>
          </ion-col>
          <!-- <ion-col>

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-item [hidden]="datacombo">
              <ion-label class='fcolor' position="floating"></ion-label>
              <ion-button [disabled]="chkedit" [hidden]="vahanflag" shape="round" (click)="getvahan()" color='tertiary'>
                <ion-icon name="cloud-download"></ion-icon>&nbsp;&nbsp;&nbsp;VAHAN
              </ion-button>
              <ion-button [hidden]="!vahanflag" shape="round" color='tertiary'>
                <ion-spinner name="circles"> </ion-spinner>&nbsp; Loading
              </ion-button>
            </ion-item>
          </ion-col> -->
        </ion-row>

     






        <ion-row>
          <ion-col>

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'>{{'acctab1.acc.veh.owner_name' | translate:params}}
              </ion-label>
              <ion-input formControlName='vownername'  maxlength='100'></ion-input>
            </ion-item>

            <p class='errormsg' *ngIf="isSubmitted && errorControl.vownername.errors?.minlength">
              {{'errmsg.ownermin' | translate:params}}
            </p>
            <p class='errormsg' *ngIf="isSubmitted && errorControl.vownername.errors?.maxlength">
              {{'errmsg.ownermax' | translate:params}}

            </p>

          </ion-col>
          <ion-col>

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'>{{'acctab1.acc.veh.vcolor' | translate:params}}</ion-label>
              <ion-input formControlName='vcolor'></ion-input>
            </ion-item>
            <p class='errormsg' *ngIf="isSubmitted && errorControl.vcolor.errors?.minlength">
              {{'errmsg.vcolormin' | translate:params}}

            </p>
            <p class='errormsg' *ngIf="isSubmitted && errorControl.vcolor.errors?.maxlength">
              {{'errmsg.vcolormax' | translate:params}}
            </p>
            <p class='errormsg' *ngIf="isSubmitted && errorControl.vcolor.errors?.pattern">
              {{'errmsg.vcolorpattern' | translate:params}}

            </p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'>{{'acctab1.acc.veh.owneraddr' | translate:params}}
              </ion-label>
              <ion-input formControlName='vowneraddr' maxlength='200'></ion-input>
            </ion-item>
            <p class='errormsg' *ngIf="isSubmitted && errorControl.vowneraddr.errors?.minlength">
              {{'errmsg.vowneraddrmin' | translate:params}}

            </p>
            <p class='errormsg' *ngIf="isSubmitted && errorControl.vowneraddr.errors?.maxlength">
              {{'errmsg.vowneraddrmax' | translate:params}}

            </p>
          </ion-col>
        </ion-row>

        <ion-row [hidden]="!vahandata">
          <ion-col>

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'>{{'acctab1.acc.veh.vehicle_cls' | translate:params}}
              </ion-label>
              <ion-input formControlName='vclass' maxlength='200'></ion-input>
            </ion-item>

            <p class='errormsg' *ngIf="isSubmitted && errorControl.vclass.errors?.minlength">
              {{'errmsg.vclassmin' | translate:params}}


            </p>
            <p class='errormsg' *ngIf="isSubmitted && errorControl.vclass.errors?.maxlength">
              {{'errmsg.vclassmax' | translate:params}}


            </p>
          </ion-col>
        </ion-row>


        <ion-row *ngIf="this.VechileDriverFG.controls['vacategory'].value !=0">
          <ion-col>

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item >
              <ion-label position="floating" class='fcolor'>Engine No
              </ion-label>
              <ion-input formControlName='vengine' maxlength='200'>
                
              </ion-input>            

            </ion-item>
            <p class='errormsg' *ngIf="isSubmitted && errorControl.uservehicletype.errors?.required">
              {{'errmsg.Vehicletype' | translate:params}}
            </p>


          </ion-col>
          <ion-col>

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item >
              <ion-label position="floating" class='fcolor'>Chassis No
              </ion-label>
              <ion-input formControlName='vchasis' maxlength='200'>
                
              </ion-input>
              
            </ion-item>

          </ion-col>

        </ion-row>



        <ion-row>

          <ion-col>

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'>{{'acctab1.acc.veh.make' | translate:params}}</ion-label>
              <ion-input formControlName='vmake'  maxlength='200'></ion-input>
            </ion-item>
            <p class='errormsg' *ngIf="isSubmitted && errorControl.vmake.errors?.minlength">
              {{'errmsg.vmakemin' | translate:params}}

            </p>
            <p class='errormsg' *ngIf="isSubmitted && errorControl.vmake.errors?.maxlength">
              {{'errmsg.vmakemax' | translate:params}}

            </p>
          </ion-col>
          <ion-col>

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'>{{'acctab1.acc.veh.model' | translate:params}}</ion-label>
              <ion-input formControlName='vmodel'  maxlength='200'></ion-input>
            </ion-item>

            <p class='errormsg' *ngIf="isSubmitted && errorControl.vmodel.errors?.minlength">
              {{'errmsg.vmodelmin' | translate:params}}

            </p>
            <p class='errormsg' *ngIf="isSubmitted && errorControl.vmodel.errors?.maxlength">
              {{'errmsg.vmodelmax' | translate:params}}

            </p>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col>

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">

              <ion-label position="floating" class='fcolor'>{{'acctab1.acc.veh.insurance' | translate:params}}
              </ion-label>
              <ion-input formControlName='vinsurance' maxlength='200'></ion-input>

            </ion-item>

            <p class='errormsg' *ngIf="isSubmitted && errorControl.vinsurance.errors?.minlength">
              {{'errmsg.vinsurancemin' | translate:params}}

            </p>
            <p class='errormsg' *ngIf="isSubmitted && errorControl.vinsurance.errors?.maxlength">
              {{'errmsg.vinsurancemax' | translate:params}}

            </p>
          </ion-col>
          <ion-col>

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'>{{'acctab1.acc.veh.insurancepolicyon' | translate:params}}
              </ion-label>

              <ion-datetime formControlName='vpolicyexpiry' MAX=2050 displayFormat="D MMM YYYY"></ion-datetime>
            </ion-item>

            <p class='errormsg' *ngIf="isSubmitted && errorControl.vpolicyexpiry.errors?.minlength">
              {{'errmsg.vpolicyexpirymin' | translate:params}}

            </p>
            <p class='errormsg' *ngIf="isSubmitted && errorControl.vpolicyexpiry.errors?.maxlength">
              {{'errmsg.vpolicyexpiryexp' | translate:params}}
            </p>
          </ion-col>
        </ion-row>

      </ion-grid>
    </span>
    <span [hidden]="!vechile2">


      <ion-grid class='ion-no-padding'>
        <ion-row>
          <ion-col>

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">

              <ion-label position="floating" class='fcolor'>{{'acctab1.acc.driver.nationality' | translate:params}}
              </ion-label>

              <ion-select formControlName="nationality" (ionChange)="changenationality($event)" interface="alert">
                <ion-select-option value="0">{{'commonlinks.indian' | translate:params}}</ion-select-option>
                <ion-select-option value="1">{{'commonlinks.foreigner' | translate:params}}</ion-select-option>


              </ion-select>
            </ion-item>

          </ion-col>

          <ion-col>

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">

              <ion-label position="floating" class='fcolor'>{{'acctab1.acc.driver.occupation' | translate:params}}
              </ion-label>

              <ion-select multiple="false" formControlName='occupation' interface="alert">
                <ion-select-option *ngFor="let d of options12; let i = index" value="{{d.id}}">
                  {{d.name}}
                </ion-select-option>


              </ion-select>
            </ion-item>

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'>{{'acctab1.acc.pedestrians.injurytype' | translate:params}}
              </ion-label>
              <ion-select multiple="true" formControlName='dinjurytype' interface="alert">
                <ion-select-option *ngFor="let d of options11; let i = index" value="{{d.id}}">
                  {{d.name}}
                </ion-select-option>


              </ion-select>
            </ion-item>

          </ion-col>

          <ion-col>

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'>
                {{'acctab1.acc.pedestrians.education' | translate:params}} </ion-label>
              <ion-select formControlName='education' interface="alert">
                <ion-select-option *ngFor="let d of options2; let i = index" value="{{d.id}}">
                  {{d.name}}
                </ion-select-option>


              </ion-select>
            </ion-item>

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>


            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label position='floating' class='fcolor'>{{'acctab1.acc.driver.cell' | translate:params}}</ion-label>
              <ion-select formControlName='cellphonedriving' interface="alert">
                <ion-select-option value="yes"> {{'commonlinks.yes' | translate:params}}</ion-select-option>
                <ion-select-option value="no"> {{'commonlinks.no' | translate:params}}</ion-select-option>
                <ion-select-option value="Not Known">{{'commonlinks.notknown' | translate:params}}</ion-select-option>

              </ion-select>
            </ion-item>


          </ion-col>
          <ion-col>

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'>{{'acctab1.acc.driver.severity' | translate:params}}
              </ion-label>
              <ion-select formControlName='dseverity' (ionChange)="changeseveriy($event)" interface="alert">
                <ion-select-option *ngFor="let d of options1; let i = index" value="{{d.id}}">
                  {{d.name}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'>
                {{'acctab1.acc.driver.cause_acc.seatbelt' | translate:params}}</ion-label>
              <ion-select formControlName='safety' interface="alert">
                <ion-select-option value="yes"> {{'commonlinks.yes' | translate:params}}</ion-select-option>
                <ion-select-option value="no"> {{'commonlinks.no' | translate:params}}</ion-select-option>
                <ion-select-option value="Not Known">{{'commonlinks.notknown' | translate:params}}</ion-select-option>
                <ion-select-option value="Not Applicable">{{'commonlinks.notapplicable' | translate:params}}</ion-select-option>
              </ion-select>
            </ion-item>

          </ion-col>

          <ion-col>

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'>
                {{'acctab1.acc.driver.cause_acc.drunkdrive' | translate:params}}</ion-label>
              <ion-select formControlName='drunken' interface="alert">
                <ion-select-option value="yes"> {{'commonlinks.yes' | translate:params}}</ion-select-option>
                <ion-select-option value="no"> {{'commonlinks.no' | translate:params}}</ion-select-option>
                <ion-select-option value="Not Known">{{'commonlinks.notknown' | translate:params}}</ion-select-option>
              </ion-select>
            </ion-item>

          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'>
                {{'acctab1.acc.pedestrians.modeoftranport' | translate:params}}</ion-label>
              <ion-select formControlName='modeoftransport' interface="alert">
                <ion-select-option *ngFor="let d of options4; let i = index" value="{{d.id}}">
                  {{d.name}}
                </ion-select-option>
              </ion-select>
            </ion-item>

          </ion-col>

          <ion-col>

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'>
                {{'acctab1.acc.pedestrians.tranporttime' | translate:params}}</ion-label>
              <ion-select formControlName='hospitaldelay' interface="alert">
                <ion-select-option *ngFor="let d of options3; let i = index" value="{{d.id}}">
                  {{d.name}}
                </ion-select-option>
              </ion-select>
            </ion-item>

          </ion-col>
        </ion-row>
        <ion-row [hidden]="!nationality_flag" *ngIf="this.VechileDriverFG.controls['vacategory'].value !=0"> 
          <ion-col>
        
            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>
        
            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'>
                Driving License Type</ion-label>
              <ion-select formControlName='drivinglicencetype' interface="alert">
                <ion-select-option *ngFor="let d of options16; let i = index" value="{{d.id}}">
                  {{d.name}}
                </ion-select-option>
              </ion-select>
            </ion-item>
        
          </ion-col>
          </ion-row>
<!--
        <ion-row>

          <ion-col>

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label [hidden]="!nationality_flag" position="floating" class='fcolorred'>
                {{'acctab1.acc.driver.licensenumber' | translate:params}}</ion-label>
              <ion-label [hidden]="nationality_flag" position="floating" class='fcolorred'>
                {{'acctab1.acc.driver.intlicensenumber' | translate:params}}</ion-label>

              <ion-input formControlName='license_nr' class="ion-text-uppercase" (keyup)="findchange($event)">
              </ion-input>
            </ion-item>

            <p class='errormsg' *ngIf="isSubmitted && errorControl.license_nr.errors?.minlength">
              {{'errmsg.license_nrmin' | translate:params}}
            </p>
            <p class='errormsg' *ngIf="isSubmitted && errorControl.license_nr.errors?.maxlength">
              {{'errmsg.license_nrmax' | translate:params}}
            </p>
            <p class='errormsg' *ngIf="isSubmitted && errorControl.license_nr.errors?.pattern">

              {{'errmsg.specialchar' | translate:params}}
            </p>
          </ion-col>
        </ion-row>
      -->
      <ion-row *ngIf="this.VechileDriverFG.controls['vacategory'].value !=0">
        <ion-col>
    
          <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>
    
          <ion-item [hidden]="datacombo">
            <ion-label [hidden]="!nationality_flag" position="floating" class='fcolorred'>
                {{'acctab1.acc.driver.licensenumber' | translate:params}}</ion-label>
              <ion-label [hidden]="nationality_flag" position="floating" class='fcolorred'>
                {{'acctab1.acc.driver.intlicensenumber' | translate:params}}</ion-label>
    
            <ion-input formControlName='license_nr' class="ion-text-uppercase" (keyup)="findchange($event)" maxlength='20'></ion-input>
            <ion-button [hidden]="saratiflag" [disabled]="noedit" color='tertiary' (click)="getsarthi()"  color='tertiary' slot="end">
              <ion-icon name="cloud-download"></ion-icon>&nbsp;&nbsp;&nbsp;SARATHI
            </ion-button>
            <ion-button [hidden]="!saratiflag" shape="round" color='tertiary' slot="end">
              <ion-spinner name="circles"> </ion-spinner>&nbsp; Loading
            </ion-button>
    
          </ion-item>
    
    
          <p class='errormsg' *ngIf="isSubmitted && errorControl.license_nr.errors?.minlength">
            {{'errmsg.license_nrmin' | translate:params}}
          </p>
          <p class='errormsg' *ngIf="isSubmitted && errorControl.license_nr.errors?.maxlength">
            {{'errmsg.license_nrmax' | translate:params}}
          </p>
          <p class='errormsg' *ngIf="isSubmitted && errorControl.license_nr.errors?.pattern">
    
            {{'errmsg.specialchar' | translate:params}}
          </p>
        </ion-col>
     
      </ion-row>
        <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

        <ion-row [hidden]="datacombo">
          <ion-col class='txtalign' [hidden]="nationality_flag">

            <ion-item>
              <ion-label position="floating" class='fcolor'>{{'commonlinks.passportnr' | translate:params}}</ion-label>
              <ion-input formControlName='passport_nr' maxlength="20" ></ion-input>
            </ion-item>



          </ion-col>
         <!--
          <ion-col class='txtalign' [hidden]="!nationality_flag">
            <ion-button shape="round" [hidden]="saratiflag" [disabled]="noedit" color='tertiary' (click)="getsarthi()">
              <ion-icon name="cloud-download"></ion-icon>&nbsp;&nbsp;&nbsp;SARATHI
            </ion-button>
            <ion-button [hidden]="!saratiflag" shape="round" color='tertiary'>
              <ion-spinner name="circles"> </ion-spinner>&nbsp; Loading
            </ion-button>

          </ion-col>
          -->

        </ion-row>

        <ion-row>
          <ion-col size="2">


            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'>{{'acctab1.acc.driver.gender' | translate:params}}
              </ion-label>
              <ion-select formControlName='gender' interface="alert">
                <ion-select-option value="Male">{{'commonlinks.male' | translate:params}}</ion-select-option>
                <ion-select-option value="Female">{{'commonlinks.female' | translate:params}}</ion-select-option>
                <ion-select-option value="tg">{{'commonlinks.tg' | translate:params}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col >

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'>{{'acctab1.acc.driver.Drivername' | translate:params}}
              </ion-label>
              <ion-input formControlName='driver_name'></ion-input>
            </ion-item>

            <p class='errormsg' *ngIf="isSubmitted && errorControl.driver_name.errors?.minlength">
              {{'errmsg.driver_namemin' | translate:params}}

            </p>
            <p class='errormsg' *ngIf="isSubmitted && errorControl.driver_name.errors?.maxlength">
              {{'errmsg.driver_namemax' | translate:params}}

            </p>
            <p class='errormsg' *ngIf="isSubmitted && errorControl.driver_name.errors?.pattern">
              {{'errmsg.driver_namepatt' | translate:params}}
              s
            </p>
          </ion-col>

        </ion-row>

       
       
        <ion-row>
          <ion-col size="2">
         
            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'>{{'acctab1.acc.driver.relation' |
                translate:params}} 
              </ion-label>

              <ion-select formControlName='guardian_type'  interface="alert">
                <ion-select-option value="S/O">S/O</ion-select-option>
                <ion-select-option value="D/O">D/O</ion-select-option>
                <ion-select-option value="W/O">W/O</ion-select-option>
                <ion-select-option value="C/O">C/O</ion-select-option>
              </ion-select>           </ion-item>     
          </ion-col>
         
          <ion-col>  
            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'>{{'acctab1.acc.driver.guardiandetails' |translate:params}}
              </ion-label>
              <ion-input formControlName='guardian_details'  maxlength="100"></ion-input>
            </ion-item>     
          </ion-col>

        </ion-row>

        <ion-row>
          <ion-col>
            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'>{{'acctab1.acc.driver.dob' |
                translate:params}}
              </ion-label>

              <ion-datetime formControlName="ser_dateOfBirth" displayFormat="D MMM YYYY"></ion-datetime>
            </ion-item>     
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'> {{'acctab1.acc.driver.badgenumber' |
                translate:params}} 
              </ion-label>

              <ion-input formControlName='badge_number' maxlength="20"></ion-input>
            </ion-item>     
          </ion-col>
          <ion-col>

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'>{{'acctab1.acc.driver.class' | translate:params}}
              </ion-label>
              <ion-input formControlName='cov_class'></ion-input>
            </ion-item>
            <p class='errormsg' *ngIf="isSubmitted && errorControl.cov_class.errors?.minlength">

              {{'errmsg.cov_classmin' | translate:params}}

            </p>
            <p class='errormsg' *ngIf="isSubmitted && errorControl.cov_class.errors?.maxlength">

              {{'errmsg.cov_classmax' | translate:params}}

            </p>
          </ion-col>
        </ion-row>

        <ion-row>

         
          <ion-col>

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'>{{'acctab1.acc.driver.Licensetype' | translate:params}}
              </ion-label>
              <ion-input formControlName='current_satus'></ion-input>
            </ion-item>

          </ion-col>
        </ion-row>

        <ion-row>

          <!--
                                  <ion-col>
                                     
          <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>
                  
                    <ion-item [hidden]="datacombo">
                                        <ion-label position="floating" class='fcolor'>{{'acctab1.acc.driver.validity' | translate:params}}</ion-label>
                                        <ion-input  formControlName='licensevalidity'  ></ion-input>
                                      </ion-item>
                                        
                                    </ion-col>
                                  -->
        </ion-row>
        <ion-row>




        </ion-row>
        <ion-row>
          <ion-col>

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'>{{'acctab1.acc.driver.Moblie_num' | translate:params}}
              </ion-label>
              <ion-input formControlName='dvr_mobile' type='number' (ionChange)="checkmobile($event)"></ion-input>
            </ion-item>

            <p class='errormsg' *ngIf="isSubmitted && errorControl.dvr_mobile.errors?.pattern">
              {{'errmsg.mobileformat' | translate:params}}
            </p>

          </ion-col>
          <ion-col [hidden]="optionalmobile">

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'>Current Mobile number</ion-label>
              <ion-input formControlName='sec_mobile' type='number' (ionChange)="checkmobilecurrent($event)"></ion-input>
            </ion-item>

            <p class='errormsg' *ngIf="isSubmitted && errorControl.sec_mobile.errors?.pattern">
              {{'errmsg.mobileformat' | translate:params}}
            </p>


          </ion-col>

        </ion-row>

        <ion-row [hidden]="addressboxes">

          <ion-col>

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'> 
                {{'acctab1.acc.driver.residence' | translate:params}}
               
              </ion-label>
              <ion-input formControlName='permentaddlicesne'></ion-input>
            </ion-item>
           
          </ion-col>
        
        </ion-row>
        <ion-row [hidden]="addressboxes">

          <ion-col >

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'> {{'acctab1.acc.driver.currentaddress' | translate:params}}
              </ion-label>
              <ion-input formControlName='tempaddlicesne'></ion-input>
              
            </ion-item>
            
          
          </ion-col>
         

        </ion-row>
        <ion-row>

          <ion-col>

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'>{{'acctab1.acc.pedestrians.address' | translate:params}}
              </ion-label>
              <ion-input formControlName='dvr_currentaddr2' ></ion-input>
            </ion-item>
            <p class='errormsg' *ngIf="isSubmitted && errorControl.dvr_currentaddr2.errors?.minlength">

              {{'errmsg.dvr_currentaddrmin' | translate:params}}

            </p>
            <p class='errormsg' *ngIf="isSubmitted && errorControl.dvr_currentaddr2.errors?.maxlength">

              {{'errmsg.dvr_currentaddrmax' | translate:params}}

            </p>
          </ion-col>
          <ion-col size='3' *ngIf="this.VechileDriverFG.controls['permentaddlicesne'].value">
            
            <ion-item>
              <ion-label  position="floating">&nbsp;.</ion-label>
            <ion-button  (click)="presentAlertConfirm()">    <ion-icon name="information-circle-outline" ></ion-icon></ion-button>

              </ion-item>
            </ion-col>

        </ion-row>
        <ion-row>

          <ion-col>

            <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

            <ion-item [hidden]="datacombo">
              <ion-label position="floating" class='fcolor'>{{'commonlinks.remarks' | translate:params}}</ion-label>
              <ion-input formControlName='remarks'></ion-input>
            </ion-item>
            <p class='errormsg' *ngIf="isSubmitted && errorControl.remarks.errors?.minlength">

              {{'errmsg.remarksmin' | translate:params}}

            </p>
            <p class='errormsg' *ngIf="isSubmitted && errorControl.remarks.errors?.maxlength">

              {{'errmsg.remarksmax' | translate:params}}
            </p>
            <p class='errormsg' *ngIf="isSubmitted && errorControl.remarks.errors?.pattern">

              {{'errmsg.specialchar' | translate:params}}
            </p>
          </ion-col>

        </ion-row>

        <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

        <ion-row [hidden]="datacombo">

          <ion-col class='txtalign'>

            <ion-icon *ngIf="driver_image==null" (click)="selectImage()" name="camera" size='large'
            class='imgpreview'>
            <ion-input size='large' type='file' size='large' class='fload'></ion-input>
          </ion-icon>

          <img *ngIf="driver_image!=null" class="imgpreview" (click)="previewimg()"
            src="assets/logos/user.png">
         
         &nbsp; &nbsp; 

            <ion-icon (click)="takeAudio()" name="mic-outline" size='large' color='danger'></ion-icon>
          
            <audio *ngIf="audio" type="audio/mp3"  controls [src]="audio4play">
              The audio tag is not supported by your browser. Click [here] to download the audio file.
            </audio>

            

          </ion-col>
          <ion-col class='txtalign'>
            <ion-button *ngIf="!isLoading" type="submit" shape="round" fill="outline" color='success'>
              <ion-icon name="cloud-upload"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;
              {{'commonlinks.save' | translate:params}}&nbsp;&nbsp;&nbsp;&nbsp;
            </ion-button>
            <ion-button *ngIf="isLoading" shape="round" fill="outline" color='success' expand="block">
              <ion-spinner name="circles"> </ion-spinner>
            </ion-button>

          </ion-col>
        </ion-row>
      </ion-grid>
    </span>

  </form>
</ion-content>


<style>
  .mandatory {
    color: red;
    font-size: 9px;
  }
</style>