.txtalign
{
   text-align: center !important;
}

.txtalignright
{
   text-align: right !important;
}
.fcolor
{
  color:#26618c;
}
.bgcolr{
  background:#dce8d1; 
}
.errormsg
{
  color:#ff6969;
   font-size:12px;
}
.mandatory{
  color:#ff6969;
  font-size:12px; 
}
/*--------------------------------------*/

