<ion-header>
  <ion-toolbar color="primary">
    <ion-title class='txtalign'>
      {{ 'acctab1.loc.passenger' | translate:params }} - {{passengerinfo.name}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close" slot="end"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-row>
    <ion-col>
      <ion-skeleton-text animated style="width: 100%" [hidden]="!vehiclecombo"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%" [hidden]="!vehiclecombo"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 40%" [hidden]="!vehiclecombo"></ion-skeleton-text>
      <ion-item [hidden]="vehiclecombo">
        <ion-label position="floating" class='fcolor'>{{'acctab1.acc.pedestrians.vehicle' | translate:params}}
          <ion-icon name="star" class='mandatory'></ion-icon>
        </ion-label>
        <ion-select [(ngModel)]="passengerinfo.vehicle_reg_no" interface="alert">
          <ion-select-option *ngFor="let item of accidentData" value={{item[2]}}> {{item[1]}}
          </ion-select-option>

        </ion-select>

      </ion-item>
      <p class='errormsg' *ngIf="isSubmitted && errorControl.vechile_id.errors?.required">
        {{'errmsg.pvehicle' | translate:params}}
      </p>
    </ion-col>

  </ion-row> -->


  <ion-row>
    <ion-col>
      <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

      <ion-item [hidden]="datacombo">
        <ion-label class='fcolor' position="floating">{{'acctab1.acc.pedestrians.name' | translate:params}}
        </ion-label>
        <ion-input [(ngModel)]="passengerinfo.name" maxlength=50></ion-input>

      </ion-item>
     

    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

      <ion-item [hidden]="datacombo">
        <ion-label position="floating" class='fcolor'>{{'acctab1.acc.pedestrians.gender_l' | translate:params}}
          <ion-icon name="star" class='mandatory'></ion-icon>
        </ion-label>
        <ion-select [(ngModel)]="passengerinfo.gender" interface="alert">
          <ion-select-option value="Male">{{'commonlinks.male' | translate:params}}</ion-select-option>
          <ion-select-option value="Female">{{'commonlinks.female' | translate:params}}</ion-select-option>
          <ion-select-option value="tg">{{'commonlinks.tg' | translate:params}}</ion-select-option>

        </ion-select>
      </ion-item>
      
      
    </ion-col>

    <ion-col>
      <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

      <ion-item [hidden]="datacombo">
        <ion-label position="floating" class='fcolor'>
          {{'acctab1.acc.pedestrians.occupation' | translate:params}} </ion-label>
        <ion-select [(ngModel)]="passengerinfo.occupation" interface="alert">
          <ion-select-option *ngFor="let d of options6; let i = index" value="{{d.id}}">
            {{d.name}}
          </ion-select-option>


        </ion-select>
      </ion-item>

    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>

     
      <ion-item >
        <ion-label position="floating" class='fcolor'>{{'acctab1.acc.driver.martialstatus'|
          translate:params}}
        </ion-label>
       
        <ion-select [(ngModel)]="passengerinfo.martial_status" interface="alert">
          <ion-select-option value="Married">Married</ion-select-option>
          <ion-select-option value="Unmarried">Unmarried</ion-select-option>   
        </ion-select>
      </ion-item>

      
    </ion-col>
    </ion-row>
  <ion-row>
    <ion-col>

     
      <ion-item >
        <ion-label position="floating" class='fcolor'>{{'acctab1.acc.driver.relation' |translate:params}}
        </ion-label>
        <ion-select [(ngModel)]=" passengerinfo.guardian_type" interface="alert">
          <ion-select-option value="S/O">S/O</ion-select-option>
          <ion-select-option value="D/O">D/O</ion-select-option>
          <ion-select-option value="W/O">W/O</ion-select-option>
          <ion-select-option value="C/O">C/O</ion-select-option>
        </ion-select>
      </ion-item>

      
    </ion-col>

  
    <ion-col>
      
   
      <ion-item >
        <ion-label position="floating" class='fcolor'>{{'acctab1.acc.driver.guardiandetails' |translate:params}}
        </ion-label>
        <ion-input [(ngModel)]=" passengerinfo.guardian_details"></ion-input>
      </ion-item>

      
    </ion-col>

  </ion-row>

  <ion-row>
    <ion-col>
      <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

      <ion-item [hidden]="datacombo">
        <ion-label position="floating" class='fcolor'>{{'acctab1.acc.pedestrians.severity' | translate:params}}
          <ion-icon name="star" class='mandatory'></ion-icon>
        </ion-label>
        <ion-select [(ngModel)]="passengerinfo.injury_severity" interface="alert">
          <ion-select-option *ngFor="let d of options1; let i = index" value="{{d.id}}">
            {{d.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
     
      
    </ion-col>
    <ion-col>
      <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

      <ion-item [hidden]="datacombo">
        <ion-label position="floating" class='fcolor'>
          {{'acctab1.acc.pedestrians.injurytype' | translate:params}} </ion-label>
        <ion-select multiple='true' [(ngModel)]="passengerinfo.pass_injurytype" interface="alert">
          <ion-select-option *ngFor="let d of options2; let i = index" value="{{d.id}}">
            {{d.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>

    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col>
      <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

      <ion-item [hidden]="datacombo">
        <ion-label position="floating" class='fcolor'>
          {{'acctab1.acc.pedestrians.modeoftranport' | translate:params}}</ion-label>
        <ion-select [(ngModel)]="passengerinfo.modeoftransport" interface="alert">
          <ion-select-option *ngFor="let d of options3; let i = index" value="{{d.id}}">
            {{d.name}}
          </ion-select-option>
        </ion-select>

      </ion-item>

    </ion-col>

    <ion-col>

      <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

      <ion-item [hidden]="datacombo">
        <ion-label position="floating" class='fcolor'>
          {{'acctab1.acc.pedestrians.tranporttime' | translate:params}} </ion-label>
        <ion-select [(ngModel)]="passengerinfo.hospitaldelay" interface="alert">
          <ion-select-option *ngFor="let d of options8; let i = index" value="{{d.id}}">
            {{d.name}}
          </ion-select-option>


        </ion-select>
      </ion-item>

    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

      <ion-item [hidden]="datacombo">
        <ion-label position="floating" class='fcolor'>
          {{'acctab1.acc.pedestrians.education' | translate:params}} </ion-label>
        <ion-select [(ngModel)]="passengerinfo.education" interface="alert">
          <ion-select-option *ngFor="let d of options4; let i = index" value="{{d.id}}">
            {{d.name}}
          </ion-select-option>


        </ion-select>
      </ion-item>

    </ion-col>
    <ion-col>
      <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

      <ion-item [hidden]="datacombo">
        <ion-label position="floating" class='fcolor'>
          {{'acctab1.acc.pedestrians.passposition' | translate:params}} </ion-label>
        <ion-select [(ngModel)]="passengerinfo.pass_position" interface="alert">
          <ion-select-option *ngFor="let d of options5; let i = index" value="{{d.id}}">
            {{d.name}}
          </ion-select-option>


        </ion-select>
      </ion-item>

    </ion-col>    
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

      <ion-item [hidden]="datacombo">
        <ion-label position="floating" class='fcolor'>{{'acctab1.acc.pedestrians.seatbelt' | translate:params}}
          <ion-icon name="star" class='mandatory'></ion-icon>
        </ion-label>
        <ion-select [(ngModel)]="passengerinfo.safety_device" interface="alert">
          <ion-select-option value="yes"> {{'commonlinks.yes' | translate:params}}</ion-select-option>
          <ion-select-option value="no"> {{'commonlinks.no' | translate:params}}</ion-select-option>

        </ion-select>
      </ion-item>
      
      
    </ion-col>

    <ion-col>
      <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

      <ion-item [hidden]="datacombo">
        <ion-label position="floating" class='fcolor'>
          {{'acctab1.acc.pedestrians.passaction' | translate:params}} </ion-label>
        <ion-select [(ngModel)]="passengerinfo.pass_action" interface="alert">
          <ion-select-option *ngFor="let d of options7; let i = index" value="{{d.id}}">
            {{d.name}}
          </ion-select-option>


        </ion-select>
      </ion-item>

    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col>
      <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

      <ion-item [hidden]="datacombo">
        <ion-label position="floating" class='fcolor'>{{'acctab1.acc.pedestrians.age' | translate:params}}
        </ion-label>
        <ion-input [(ngModel)]="passengerinfo.age" type='number' (ionChange)="checkage($event)"></ion-input>
      </ion-item>

      
      

    </ion-col>
    <ion-col>
      <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

      <ion-item [hidden]="datacombo">
        <ion-label position="floating" class='fcolor'>{{'acctab1.acc.pedestrians.moblieno' | translate:params}}
        </ion-label>
        <ion-input [(ngModel)]="passengerinfo.mobile" type="number" (ionChange)="checkmobile($event)"></ion-input>
      </ion-item>
    

    </ion-col>

  </ion-row>


  <ion-row>
    <ion-col>

      <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>
      <ion-item [hidden]="datacombo">

        <ion-label position="floating" class='fcolor'>{{'acctab1.acc.driver.nationality' | translate:params}}
        </ion-label>

        <ion-select [(ngModel)]="passengerinfo.nationality" interface="alert">
          <ion-select-option value="0">{{'commonlinks.indian' | translate:params}}</ion-select-option>
          <ion-select-option value="1">{{'commonlinks.foreigner' | translate:params}}</ion-select-option>


        </ion-select>
      </ion-item>

    </ion-col>
  </ion-row>
  <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

  <!-- <ion-row [hidden]="datacombo">
    <ion-col>

      <ion-item [hidden]="!passport">
        <ion-label position="floating" class='fcolor'>{{'commonlinks.passportnr' | translate:params}}
        </ion-label>
        <ion-input formControlName='passport_nr'></ion-input>
      </ion-item>
      <p class='errormsg' *ngIf="isSubmitted && errorControl.passport_nr.errors?.minlength">
        {{'errmsg.addrmin' | translate:params}}
      </p>
      <p class='errormsg' *ngIf="isSubmitted && errorControl.passport_nr.errors?.maxlength">
        {{'errmsg.addrmax' | translate:params}}
      </p>
      <p class='errormsg' *ngIf="isSubmitted && errorControl.passport_nr.errors?.pattern">
        {{'errmsg.specialchar' | translate:params}}
      </p>
    </ion-col>
  </ion-row> -->


  <ion-row>
    <ion-col>
      <ion-skeleton-text animated style="width: 100%" [hidden]="!datacombo"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%" [hidden]="!datacombo"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 40%" [hidden]="!datacombo"></ion-skeleton-text>

      <ion-item [hidden]="datacombo">
        <ion-label position="floating" class='fcolor'>{{'acctab1.acc.pedestrians.address' | translate:params}}
        </ion-label>
        <ion-input [(ngModel)]="passengerinfo.residence"></ion-input>
      </ion-item>
     
    </ion-col>
  </ion-row>


</ion-content>
 
<ion-footer translucent="true" class="tab1-footer">
  <ion-grid>
    <ion-row>
      <ion-col>
        <!-- <ion-button expand="block" fill="clear" [disabled]="wifiDisable">
          <ion-icon slot="icon-only" name="wifi"></ion-icon>
        </ion-button> -->
      </ion-col>
      <ion-col>
        <ion-chip color="danger">
          <ion-label (click)="closeModal()">Cancel</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col>
        <ion-chip color="primary">
          <ion-label (click)="saveModal()"> &nbsp; Save &nbsp; </ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>