.uppercase{
    text-transform: uppercase;
  }
  .capitalize{
   text-transform:capitalize;
 }
 .fcolor{
   color:#26618c;
 
 } 
 .errormsg
 {
     color:#ff6969;
    font-size:12px; 
 }
 .redclr
 {
  color:#ff6969;
  font-size:10px;  
 }