<ion-header>
  <ion-toolbar color="">
    <ion-title >
      Access Details 
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close" slot="end"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="isLoading==true">
    <div class="ion-padding custom-skeleton">
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </div>
  </div>

  <ion-grid *ngIf="isLoading==false"> 
    <ion-row>
      <ion-col size="" class="grid bgclass1 " *ngFor="let cd of countsdata">
        {{cd.title}} <br>
        <ng2-odometer [number]="cd.count" [config]="config"></ng2-odometer>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>


