ion-content {
    --background: radial-gradient(at 0 90%, rgb(248, 245, 220), #ebf377);
  }
.grid {
    color: #fff;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    min-width: 150px;

  }

  .bgclass1{
    background: linear-gradient(to right, #ffbf96, #fe7096) !important;
  }
  