<ion-header>
  <ion-toolbar color="primary">
    <ion-title class='txtalign'>
      Add Insurance Details
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close" slot="end"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class='fcolor ion-text-wrap' position="floating" class='fcolor'>Nature/Type of Policy</ion-label>
            <ion-input  
            required></ion-input>
          </ion-item>
         
        </ion-col>
    </ion-row>

    
  
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class='fcolor ion-text-wrap'  position="floating" class='fcolor'>Date of intimation of the accident by the Insured to the Insurance Company</ion-label>
          <ion-input></ion-input>
        </ion-item>
  
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class='fcolor ion-text-wrap'  position="floating" class='fcolor'>Date of receipt of FAR</ion-label>
          <ion-input></ion-input>  
        </ion-item>
     
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class='fcolor ion-text-wrap'  position="floating" class='fcolor'>Date of receipt of IAR</ion-label>
          <ion-input></ion-input>  
        </ion-item>
     
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class='fcolor ion-text-wrap'  position="floating" class='fcolor'>Date of receipt of DAR</ion-label>
          <ion-input></ion-input>  
        </ion-item>
     
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class='fcolor ion-text-wrap'  position="floating" class='fcolor'>Date of appointment of the Designated Officer by the Insurance Company</ion-label>
          <ion-input></ion-input>  
        </ion-item>
     
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class='fcolor ion-text-wrap'  position="floating" class='fcolor'>Details of Designated Officer</ion-label>
          <ion-input></ion-input>  
        </ion-item>
     
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class='fcolor ion-text-wrap'  position="floating" class='fcolor'>Name</ion-label>
          <ion-input></ion-input>  
        </ion-item>
     
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class='fcolor ion-text-wrap'  position="floating" class='fcolor'>Address</ion-label>
          <ion-input></ion-input>  
        </ion-item>
     
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class='fcolor ion-text-wrap'  position="floating" class='fcolor'>Date of appointment of the Surveyor/Investigator</ion-label>
          <ion-input></ion-input>  
        </ion-item>
     
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class='fcolor ion-text-wrap'  position="floating" class='fcolor'>Name and Address of Surveyor/Investigator</ion-label>
          <ion-input></ion-input>  
        </ion-item>
     
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class='fcolor ion-text-wrap'  position="floating" class='fcolor'>Name</ion-label>
          <ion-input></ion-input>  
        </ion-item>
     
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class='fcolor ion-text-wrap'  position="floating" class='fcolor'>Address</ion-label>
          <ion-input></ion-input>  
        </ion-item>
     
      </ion-col>
    </ion-row>



    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class='fcolor ion-text-wrap'  position="floating" class='fcolor'>Date of Report of the Surveyor/Investigator</ion-label>
          <ion-input></ion-input>  
        </ion-item>
     
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class='fcolor ion-text-wrap'  position="floating" class='fcolor'>Date of Decision of the Surveyor/Investigator</ion-label>
          <ion-input></ion-input>  
        </ion-item>
     
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class='fcolor ion-text-wrap'  position="floating" class='fcolor'>Whether this Form has been filed within 30 days of receipt of DAR If not,given reasons for delays</ion-label>
          <ion-input></ion-input>  
        </ion-item>
     
      </ion-col>
    </ion-row>


    
  </ion-grid>


</ion-content>
<ion-footer>

  <ion-grid>
    <ion-row>
      <ion-col width-50 style="text-align: right">
         <ion-button color="light"   (click)="closeModal()" color='primary'>Cancel</ion-button>
      </ion-col>
       <ion-col width-50 style="text-align: left">
         <ion-button color="light"  color='primary'>Save</ion-button>
       </ion-col>
     </ion-row>

  </ion-grid>
  </ion-footer>