<ion-header>
  <ion-toolbar color="primary">
    <ion-title class='txtalign'>
      Add Legal Information
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close" slot="end"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class='fcolor ion-text-wrap' position="floating" class='fcolor'>Nature/Type of Policy</ion-label>
            <ion-input></ion-input>
            
          </ion-item>
        </ion-col>
    </ion-row>

    
  
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class='fcolor ion-text-wrap'  position="floating" class='fcolor'>Brief Description of offense(s) in which the accused has been convicted</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class='fcolor ion-text-wrap'  position="floating" class='fcolor'>Add Future Prospectus (B)</ion-label>
          <ion-input></ion-input>  
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class='fcolor ion-text-wrap'  position="floating" class='fcolor'>Monthly loss of dependency</ion-label>
          <ion-input></ion-input>  
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class='fcolor ion-text-wrap'  position="floating" class='fcolor'>Annual loss of dependecy</ion-label>
          <ion-input></ion-input>  
        </ion-item> 
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class='fcolor ion-text-wrap'  position="floating" class='fcolor'>Multiplier</ion-label>
          <ion-input></ion-input>  
        </ion-item> 
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class='fcolor ion-text-wrap'  position="floating" class='fcolor'>Total loss of dependecy</ion-label>
          <ion-input></ion-input>  
        </ion-item> 
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class='fcolor ion-text-wrap'  position="floating" class='fcolor'>Loss of constorium</ion-label>
          <ion-input></ion-input>  
        </ion-item> 
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class='fcolor ion-text-wrap'  position="floating" class='fcolor'>Loss of love and affection</ion-label>
          <ion-input></ion-input>  
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class='fcolor ion-text-wrap'  position="floating" class='fcolor'>Loss of estate</ion-label>
          <ion-input></ion-input>  
        </ion-item>
      </ion-col>
    </ion-row>


    

  </ion-grid>


</ion-content>
<ion-footer>

<ion-grid>
  <ion-row>
    <ion-col  style="text-align: right">
       <ion-button color="light"   (click)="closeModal()" color='primary'>Cancel</ion-button>
    </ion-col>
     <ion-col  style="text-align: left">
       <ion-button color="light"  color='primary'>Save</ion-button>
     </ion-col>
   </ion-row>
</ion-grid>
  
</ion-footer>