<ion-header>
  <ion-toolbar>
    <ion-title>checklist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="courtform"  (ngSubmit)="addcourt()" novalidate>
      
     
        <ion-grid>
          
         
      
       

      <ion-row>
              <ion-col class='txtalign'>
                <ion-button (click)="showbasic()" shape="round" color='tertiary'>
                  &nbsp;&nbsp;&nbsp;&nbsp;{{'commonlinks.prev' | translate:params}}&nbsp;&nbsp;&nbsp;&nbsp;</ion-button>
              </ion-col>
      
              <ion-col class='txtalign'>
                <ion-button *ngIf="!isLoading" type="submit" shape="round" fill="outline" color='success'>
                  <ion-icon name="cloud-upload"></ion-icon>
                  &nbsp;&nbsp;&nbsp;&nbsp;{{'commonlinks.save' | translate:params}}&nbsp;&nbsp;&nbsp;&nbsp;
                </ion-button>
                <ion-button *ngIf="isLoading" shape="round" color='tertiary'>
                  <ion-spinner name="circles"> </ion-spinner>
                </ion-button>
      
              </ion-col>
            </ion-row>
      
        </ion-grid>
      </form>
</ion-content>
