.gbox1{
  background:#c8eda6;
  color:#183e7a;
  font-weight: bold;
  height:150px;
  font-size: 22px;
}

.gboxpass{
  background:#e4a1d0;
  color:#183e7a;
  font-weight: bold;
  height:150px;
  font-size: 22px;
}

.gboxsslains{
  background:#cbeeb7;
  color:#183e7a;
  font-weight: bold;
  height:150px;
  font-size: 22px;
}
.gboxsslainsvic{
  background:#fda3ab;
  color:#183e7a;
  font-weight: bold;
  height:150px;
  font-size: 22px;
}
.acccc{
  background:#eb7882;
  color:#183e7a;
  font-weight: bold;
  height:150px;
  font-size: 22px;
}
.gboxssla1{
  background:#0792c9;
  color:#eaf1ee;
  font-weight: bold;
  height:150px;
  font-size: 22px;
}

.gboxssla1{
  background:#0792c9;
  color:#eaf1ee;
  font-weight: bold;
  height:150px;
  font-size: 22px;
}
.gboxssla2{
  background:#f17b6b;
  color:#eaf1ee;
  font-weight: bold;
  height:150px;
  font-size: 22px;
}
.tribu{
  background:#cbeeb7;
  color:#183e7a;
  font-weight: bold;
  height:150px;
  font-size: 22px;
}
.tribu1{
  background:#a5d8ec;
  color:#183e7a;
  font-weight: bold;
  height:150px;
  font-size: 22px;
}
.tribu2{
  background:#e4a1d0;
  color:#183e7a;
  font-weight: bold;
  height:150px;
  font-size: 22px;
}
.gboxpett{
  background:#49ddb8f5;
  color:#183e7a;
  font-weight: bold;
  height:150px;
  font-size: 22px;
}

.gboxped{
  background:#ebf3c9;
  color:#183e7a;
  font-weight: bold;
  height:150px;
  font-size: 22px;
}

.gboxveh{
  background:#ebcba6;
  color:#183e7a;
  font-weight: bold;
  height:150px;
  font-size: 22px;
}
.gboxins{
  background:#baf3c2;
  color:#183e7a;
  font-weight: bold;
  height:150px;
  font-size: 22px;
}
.gboxssla{
  background:#a5d8ec;
  color:#183e7a;
  font-weight: bold;
  height:150px;
  font-size: 22px;
}

.gboxreports{
  background:#f698d2;
  color:#183e7a;
  font-weight: bold;
  height:150px;
  font-size: 22px;
}

ion-content{

  --background:rgb(255,255,229);
}


.txtalign
{
  text-align: center !important;
}
.gbox{
background:#fff;
color:#183e7a;
font-weight: bold;

}

.bgcolor2{
color:#dd0d75;
font-size:21px; 
}

.gboxdoc{
background:#FFFF66;
color:#183e7a;
font-weight: bold;
height:150px;
font-size: 22px;
}

.gboxwitness{
  background:#EABCBC;
  color:#183e7a;
  font-weight: bold;
  height:150px;
  font-size: 22px;
}



.grid{
margin:8px;
border-radius: 2px;
}

.gbox2{
  background:#f5f0f0;
  color:#183e7a;
  font-weight: bold;
  height:150px;
}
.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.card-img-absolutes {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.fatalbg {
  background: linear-gradient(to right, #ff718e, #fe7096) !important;
}



.grevbg {
  background: linear-gradient(to right, #ffbf96, #fe7096) !important;
}

.grevbgadd {
  background: linear-gradient(to right, #7bb879, #e7cc33) !important;
}

.simphbg {
  background: linear-gradient(to right, #ffd265, #ffd265 99%) !important;
}

.simpnhbg {
  background: linear-gradient(to right, #79d9d9, #f3c992 99%) !important;
}

.vehbg {
  background: linear-gradient(to right, #7dbfec, #7da0ec 99%) !important;
}

.deadbg[_ngcontent-hil-c4] {
  background: linear-gradient(to right, #ff718e, #fe7096) !important;
}
.injbg {
  background: linear-gradient(to right, #FBAF63, #FBAF63 99%) !important;
}



/* Custom Skeleton Line Height and Margin */
.custom-skeleton ion-skeleton-text {
line-height: 13px;
}

.custom-skeleton ion-skeleton-text:last-child {
margin-bottom: 5px;
}


ion-card-subtitle {
  color: #444;
}

ion-card-content {
  color: #555;
}