<ng-container *ngIf="dashboardview=='Circle' && accdivision==false && accsubdivision==false">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title>Cirlce Of Highways</ion-title>
      <ion-buttons slot="end" (click)="movetodashboard()">
       
          <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
       
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content >

    <ion-card style="background-color: transparent; ">
      <ion-row style="margin-top: 0%;">
        <ion-col style="text-align: center; font-weight: bold; font-size: 16px; color: black;">
                    Road Circle
          
        </ion-col>
      </ion-row>
     <ion-grid>
     
      <ion-row >
        <ion-col  size="6" *ngFor="let wingcircle of highwaycircle;" > 
         
         
          <ion-card style="width: auto; margin-left: 0%; margin-top: 0%; margin-bottom: 0%; margin-right: 0%; padding-bottom: 0%;">
            <ion-card-content>
              <ion-card-title style="text-align: center; font-size: 16px; padding-top: 0%;">
                {{wingcircle.name | uppercase}}
              </ion-card-title>
              <!-- <ion-icon name="caret-forward" color="danger"  style="vertical-align: super;float: right;"></ion-icon>              -->
              <ion-row> 
  
              <ion-col  style="background-color: #fdd1da; text-align: center;">
                <ion-label style="color: black;">Request</ion-label>
                <p style="font-weight: bold; font-size: 18px; text-align: left;  text-align: center; color: black;">
                  <ion-label *ngIf="wingcircle.received" style="color: black;">{{wingcircle.received}}</ion-label>
                  <ion-label *ngIf="!wingcircle.received" style="color: black;">0</ion-label>
               </p>
              </ion-col>
  
              <!-- <ng2-odometer
                   [number]="wing.received"
                 ></ng2-odometer> -->
               
               <ion-col  style="background-color: #ffd8b1; text-align: center;">
                 <ion-label style="color: black;">Pending</ion-label>
                 <p style="font-weight: bold; font-size: 18px; text-align: left; text-align: center; color: black;">
                  <ion-label *ngIf="wingcircle.pending"  style="color: black;">{{wingcircle.pending}}</ion-label>
                  <ion-label *ngIf="!wingcircle.pending"  style="color: black;">0</ion-label>
                  
                </p>              
               </ion-col>
               <!-- <ng2-odometer
                    [number]="wing.pending"
                  ></ng2-odometer> -->
              
              
              <!-- <ion-col  style="background-color: #abeddf; text-align: center;">
                <ion-label style="color: black;">Inspected</ion-label>
                <p style="font-weight: bold; font-size: 18px; text-align: left;  text-align: center; color: black;">
                  <ion-label style="color: black;">{{wing.inspected}}</ion-label>
                 
               </p>
              </ion-col> -->
              <!-- <ng2-odometer
                   [number]="wing.inspected"
                 ></ng2-odometer> -->
  
              <ion-col  style="background-color: #edfab9; text-align: center; height: 60px;">
                <ion-label style="color: black;">Completed</ion-label>
                <p style="font-weight: bold; font-size: 18px; text-align: left;  text-align: center; color: black;">
                  <ion-label *ngIf="wingcircle.completed" style="color: black;">{{wingcircle.completed}}</ion-label>
                  <ion-label *ngIf="!wingcircle.completed" style="color: black;">0</ion-label>
                 
               </p>
              </ion-col>
             
              
              <!-- <ng2-odometer
                   [number]="wing.completed"
                 ></ng2-odometer> -->
             </ion-row>
            </ion-card-content>
            <!-- <ion-icon name="caret-down-sharp" color="danger" (click)="drilDownHighways(wing)" style="font-size: 35px; padding-left: 50%;"></ion-icon> -->
            <ion-icon name="caret-down-sharp" color="danger" (click)="drilDownDivision(wingcircle)"  style="padding-left: 46%; padding-top: 0%;  font-size: 25px;" ></ion-icon>
          </ion-card>
          
        </ion-col>
     
      </ion-row>
   
     </ion-grid>

    </ion-card>




    
    <!-- <ion-card style="background-color: transparent; "> 
  
      <table style="border-collapse: collapse; width: 100%; text-align: center;" border="1.5">
  
        <tr>
          <td style="width: 25%; font-weight: bold; color: black; font-size: 16; height: 60px; background-color:#728ca3">Road Circle</td>
          <td style="width: 25%; font-weight: bold; color: black; font-size: 16; background-color:#6abbab">Total No. of Request&nbsp;</td>
          <td style="width: 25%; font-weight: bold;color:  black; font-size: 16; background-color:#bf9d7a">No of Request Completed</td>
          <td style="width: 25%; font-weight: bold; color: black; font-size: 16; background-color:#cbce91ff">No of Request Pending</td>
          </tr>
        <tbody *ngFor="let wingcircle of highwaycircle;">
       
       

        <tr>
          <td *ngIf="wingcircle.name" style="width: 25%; text-align: left; padding-left: 10px; color: black; height: 50px; background-color:#adbfce" >{{wingcircle.name | uppercase }}<ion-icon name="caret-down-sharp" color="danger" (click)="drilDownDivision(wingcircle)" style="margin-right: 15px;font-size: 25px; float: right;"></ion-icon></td>
          <td *ngIf="!wingcircle.name" style="width: 25%; color: black; height: 50px; background-color:#adbfce;">NA</td>
          <td *ngIf="wingcircle.received" style="width: 25%; color: black; height: 50px; background-color:#9ff1e1;">{{wingcircle.received}}</td>
          <td *ngIf="!wingcircle.received" style="width: 25%; color: black; height: 50px; background-color:#9ff1e1;">0</td>
          <td *ngIf="wingcircle.completed" style="width: 25%; color: black; height: 50px; background-color:#dac0a5;">{{wingcircle.completed}}</td>
          <td *ngIf="!wingcircle.completed" style="width: 25%; color: black; height: 50px; background-color:#dac0a5;">0</td>
          <td *ngIf="wingcircle.pending" style="width: 25%; color: black; height: 50px; background-color:rgb(218, 220, 185);">{{wingcircle.pending}}</td>
          <td *ngIf="!wingcircle.pending" style="width: 25%; color: black; height: 50px; background-color:rgb(218, 220, 185);">0</td>
          </tr>

        
         
        </tbody>
        </table>
    </ion-card> -->
    </ion-content>
</ng-container>

<ng-container *ngIf="accdivision==true">
  <ion-content>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="closeModal()">
            <ion-icon name="close" slot="end"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Division</ion-title>

      </ion-toolbar>
    </ion-header>


    <ion-card style="background-color: transparent; ">
      <ion-row style="margin-top: 0%;">
        <ion-col style="text-align: center; font-weight: bold; font-size: 16px; color: black;">
                    Road Division
          
        </ion-col>
      </ion-row>
     <ion-grid>
     
      <ion-row >
        <ion-col  size="6" *ngFor="let wingdivision of highwaydivision;" > 
          

         
          <ion-card style="width: auto; margin-left: 0%; margin-top: 0%; margin-bottom: 0%; margin-right: 0%; padding-bottom: 0%;">
            <ion-card-content>
              <ion-card-title style="text-align: center; font-size: 16px; padding-top: 0%;">
                {{wingdivision.divisionname | uppercase}}
              </ion-card-title>
              <!-- <ion-icon name="caret-forward" color="danger"  style="vertical-align: super;float: right;"></ion-icon>              -->
              <ion-row> 
  
              <ion-col  style="background-color: #fdd1da; text-align: center;">
                <ion-label style="color: black;">Request</ion-label>
                <p style="font-weight: bold; font-size: 18px; text-align: left;  text-align: center; color: black;">
                  <ion-label *ngIf="wingdivision.received" style="color: black;">{{wingdivision.received}}</ion-label>
                  <ion-label *ngIf="!wingdivision.received" style="color: black;">0</ion-label>
               </p>
              </ion-col>
  
              <!-- <ng2-odometer
                   [number]="wing.received"
                 ></ng2-odometer> -->
               
               <ion-col  style="background-color: #ffd8b1; text-align: center;">
                 <ion-label style="color: black;">Pending</ion-label>
                 <p style="font-weight: bold; font-size: 18px; text-align: left; text-align: center; color: black;">
                  <ion-label *ngIf="wingdivision.pending"  style="color: black;">{{wingdivision.pending}}</ion-label>
                  <ion-label *ngIf="!wingdivision.pending"  style="color: black;">0</ion-label>
                  
                </p>              
               </ion-col>
               
  
              <ion-col  style="background-color: #edfab9; text-align: center; height: 60px;">
                <ion-label style="color: black;">Completed</ion-label>
                <p style="font-weight: bold; font-size: 18px; text-align: left;  text-align: center; color: black;">
                  <ion-label *ngIf="wingdivision.completed" style="color: black;">{{wingdivision.completed}}</ion-label>
                  <ion-label *ngIf="!wingdivision.completed" style="color: black;">0</ion-label>
                 
               </p>
              </ion-col>
             
              
              <!-- <ng2-odometer
                   [number]="wing.completed"
                 ></ng2-odometer> -->
             </ion-row>
            </ion-card-content>
            <!-- <ion-icon name="caret-down-sharp" color="danger" (click)="drilDownHighways(wing)" style="font-size: 35px; padding-left: 50%;"></ion-icon> -->
            <ion-icon name="caret-down-sharp" color="danger" (click)="drilDownSubDivision(wingdivision)"  style="padding-left: 46%; padding-top: 0%;  font-size: 25px;" ></ion-icon>
          </ion-card>
          
        </ion-col>
     
      </ion-row>
   
     </ion-grid>

    </ion-card>

    <!-- <ion-card style="background-color: transparent; "> 
  
      <table style="border-collapse: collapse; width: 100%; text-align: center;" border="1.5">
  
        <tr>
          <td style="width: 25%; font-weight: bold; color: black; font-size: 16; height: 60px; background-color:#728ca3">Road Division</td>
          <td style="width: 25%; font-weight: bold; color: black; font-size: 16; background-color:#6abbab">Total No. of Request&nbsp;</td>
          <td style="width: 25%; font-weight: bold;color:  black; font-size: 16; background-color:#bf9d7a">No of Request Completed</td>
          <td style="width: 25%; font-weight: bold; color: black; font-size: 16; background-color:#cbce91ff">No of Request Pending</td>
          </tr>
        <tbody *ngFor="let wingdivision of highwaydivision;">
       
        <tr>
        <td *ngIf="wingdivision.divisionname" style="width: 25%; text-align: left; padding-left: 10px; color: black; height: 50px; background-color:#adbfce" (click)="drilDownSubDivision(wingdivision)">{{wingdivision.divisionname | uppercase }}<ion-icon name="caret-down-sharp" color="danger"  style="margin-right: 15px;font-size: 25px; float: right;"></ion-icon></td>
        <td *ngIf="!wingdivision.divisionname" style="width: 25%; color: black; height: 50px; background-color:#adbfce;">NA</td>
        <td *ngIf="wingdivision.received" style="width: 25%; color: black; height: 50px; background-color:#9ff1e1;">{{wingdivision.received}}</td>
        <td *ngIf="!wingdivision.received" style="width: 25%; color: black; height: 50px; background-color:#9ff1e1;">0</td>
        <td *ngIf="wingdivision.completed" style="width: 25%; color: black; height: 50px; background-color:#dac0a5;">{{wingdivision.completed}}</td>
        <td *ngIf="!wingdivision.completed" style="width: 25%; color: black; height: 50px; background-color:#dac0a5;">0</td>
        <td *ngIf="wingdivision.pending" style="width: 25%; color: black; height: 50px; background-color:rgb(218, 220, 185);">{{wingdivision.pending}}</td>
        <td *ngIf="!wingdivision.pending" style="width: 25%; color: black; height: 50px; background-color:rgb(218, 220, 185);">0</td>
        </tr>
         
        </tbody>
        </table>
    </ion-card> -->

  </ion-content>
</ng-container>


<ng-container *ngIf="accsubdivision==true">
  <ion-content>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="closeSubdivisionModal()">
            <ion-icon name="close" slot="end"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Sub-Division</ion-title>

      </ion-toolbar>
    </ion-header>

    <ion-card style="background-color: transparent; ">
      <ion-row style="margin-top: 0%;">
        <ion-col style="text-align: center; font-weight: bold; font-size: 16px; color: black;">
                    Road Subdivision
          
        </ion-col>
      </ion-row>
     <ion-grid>
     
      <ion-row >
        <ion-col  size="6" *ngFor="let wingsubdivision of highwaysubdivision;" > 
          

         
          <ion-card style="width: auto; margin-left: 0%; margin-top: 0%; margin-bottom: 0%; margin-right: 0%; padding-bottom: 0%;">
            <ion-card-content>
              <ion-card-title style="text-align: center; font-size: 16px; padding-top: 0%;">
                {{wingsubdivision.subdivisionname | uppercase}}
              </ion-card-title>
              <!-- <ion-icon name="caret-forward" color="danger"  style="vertical-align: super;float: right;"></ion-icon>              -->
              <ion-row> 
  
              <ion-col  style="background-color: #fdd1da; text-align: center;">
                <ion-label style="color: black;">Request</ion-label>
                <p style="font-weight: bold; font-size: 18px; text-align: left;  text-align: center; color: black;">
                  <ion-label *ngIf="wingsubdivision.received" style="color: black;">{{wingsubdivision.received}}</ion-label>
                  <ion-label *ngIf="!wingsubdivision.received" style="color: black;">0</ion-label>
               </p>
              </ion-col>
  
              <!-- <ng2-odometer
                   [number]="wing.received"
                 ></ng2-odometer> -->
               
               <ion-col  style="background-color: #ffd8b1; text-align: center;">
                 <ion-label style="color: black;">Pending</ion-label>
                 <p style="font-weight: bold; font-size: 18px; text-align: left; text-align: center; color: black;">
                  <ion-label *ngIf="wingsubdivision.pending"  style="color: black;">{{wingsubdivision.pending}}</ion-label>
                  <ion-label *ngIf="!wingsubdivision.pending"  style="color: black;">0</ion-label>
                  
                </p>              
               </ion-col>
               <!-- <ng2-odometer
                    [number]="wing.pending"
                  ></ng2-odometer> -->
              
              
              <!-- <ion-col  style="background-color: #abeddf; text-align: center;">
                <ion-label style="color: black;">Inspected</ion-label>
                <p style="font-weight: bold; font-size: 18px; text-align: left;  text-align: center; color: black;">
                  <ion-label style="color: black;">{{wing.inspected}}</ion-label>
                 
               </p>
              </ion-col> -->
              <!-- <ng2-odometer
                   [number]="wing.inspected"
                 ></ng2-odometer> -->
  
              <ion-col  style="background-color: #edfab9; text-align: center; height: 60px;">
                <ion-label style="color: black;">Completed</ion-label>
                <p style="font-weight: bold; font-size: 18px; text-align: left;  text-align: center; color: black;">
                  <ion-label *ngIf="wingsubdivision.completed" style="color: black;">{{wingsubdivision.completed}}</ion-label>
                  <ion-label *ngIf="!wingsubdivision.completed" style="color: black;">0</ion-label>
                 
               </p>
              </ion-col>
             
              
              <!-- <ng2-odometer
                   [number]="wing.completed"
                 ></ng2-odometer> -->
             </ion-row>
            </ion-card-content>
            <!-- <ion-icon name="caret-down-sharp" color="danger" (click)="drilDownHighways(wing)" style="font-size: 35px; padding-left: 50%;"></ion-icon> -->
          </ion-card>
          
        </ion-col>
     
      </ion-row>
   
     </ion-grid>

    </ion-card>

    <!-- <ion-card style="background-color: transparent; "> 
  
      <table style="border-collapse: collapse; width: 100%; text-align: center;" border="1.5">
  
        <tr>
          <td style="width: 25%; font-weight: bold; color: black; font-size: 16; height: 60px; background-color:#728ca3">Road Sub-Division</td>
          <td style="width: 25%; font-weight: bold; color: black; font-size: 16; background-color:#6abbab">Total No. of Request&nbsp;</td>
          <td style="width: 25%; font-weight: bold;color:  black; font-size: 16; background-color:#bf9d7a">No of Request Completed</td>
          <td style="width: 25%; font-weight: bold; color: black; font-size: 16; background-color:#cbce91ff">No of Request Pending</td>
          </tr>
        <tbody *ngFor="let wingsubdivision of highwaysubdivision;">
       
        <tr>
        <td *ngIf="wingsubdivision.subdivisionname" style="width: 25%; text-align: left; padding-left: 10px; color: black; height: 50px; background-color:#adbfce">{{wingsubdivision.subdivisionname | uppercase }}</td>
        <td *ngIf="!wingsubdivision.subdivisionname" style="width: 25%; color: black; height: 50px; background-color:#adbfce;">NA</td>
        <td *ngIf="wingsubdivision.received" style="width: 25%; color: black; height: 50px; background-color:#9ff1e1;">{{wingsubdivision.received}}</td>
        <td *ngIf="!wingsubdivision.received" style="width: 25%; color: black; height: 50px; background-color:#9ff1e1;">0</td>
        <td *ngIf="wingsubdivision.completed" style="width: 25%; color: black; height: 50px; background-color:#dac0a5;">{{wingsubdivision.completed}}</td>
        <td *ngIf="!wingsubdivision.completed" style="width: 25%; color: black; height: 50px; background-color:#dac0a5;">0</td>
        <td *ngIf="wingsubdivision.pending" style="width: 25%; color: black; height: 50px; background-color:rgb(218, 220, 185);">{{wingsubdivision.pending}}</td>
        <td *ngIf="!wingsubdivision.pending" style="width: 25%; color: black; height: 50px; background-color:rgb(218, 220, 185);">0</td>
        </tr>
         
        </tbody>
        </table>
    </ion-card> -->


  </ion-content>
</ng-container>






