
page-home {
  ion-icon {
      font-size: 5em;
      font-weight: bold;
  }
}
.headdsn{
  background-color:#056399;
  height:45px;
  color:yellow;

 
}
.txtalign
 {
    text-align: center !important;
 }
.gbox{
  background:#fff;
  color:#183e7a;
  font-weight: bold;
  
}
.icongbox{
  background:#fff;
  color:#dd0d75;
  font-weight: bold;
  
}


.gbox1{
  background:#c8eda6;
  color:#183e7a;
  font-weight: bold;
  
}
.icongbox1{
  background:#c8eda6;
  color:#dd0d75;
  font-weight: bold;
  
}


.gbox2{
  background:#befafa;
  color:#183e7a;
  font-weight: bold;
  
}
.icongbox2{
  background:#befafa;
  color:#dd0d75;
  font-weight: bold;
  
}


.gbox3{
  background:#d0b5eb;
  color:#183e7a;
  font-weight: bold;
  
}
.icongbox3{
  background:#d0b5eb;
  color:#dd0d75;
  font-weight: bold;
  
}

.gbox4{
  background:#b0b6f5;
  color:#183e7a;
  font-weight: bold;
  
}
.icongbox4{
  background:#b0b6f5;
  color:#dd0d75;
  font-weight: bold;
  
}

.gbox5{
  background:#edd8af;
  color:#183e7a;
  font-weight: bold;
  
}
.icongbox5{
  background:#edd8af;
  color:#dd0d75;
  font-weight: bold;
  
}
.gbox6{
  background:#8ad1cc;
  color:#183e7a;
  font-weight: bold;
  
}
.icongbox6{
  background:#8ad1cc;
  color:#dd0d75;
  font-weight: bold;
  
}

.gbox7{
  background:#f2e8ae;
  color:#183e7a;
  font-weight: bold;
  
}
.icongbox7{
  background:#f2e8ae;
  color:#dd0d75;
  font-weight: bold;
  
}

.gbox8{
  background:#f8baa7;
  color:#183e7a;
  font-weight: bold;
  
}
.icongbox8{
  background:#f8baa7;
  color:#dd0d75;
  font-weight: bold;
  
}

.mandgbox{
  background:#f38cac;
  color:#FFF;
  font-weight: bold;
  
}
.ctn
{
  background-color: red;
}
.clr{
  color:#fa6e6e;
  font-size:11px; 
}
.bgcolor{
background:#55b562; 
color:#fcee81;
font-size:15px; 
}
.bgcolor1{
  color:#fff;
  }

  .bgcolor2{
    color:#dd0d75;
    font-size:21px; 
    }

    .witnessbox{
      background:#fdfbec;
      color:#183e7a;
      font-weight: bold;
    //  height: 17ch;
      
    }
    .icongboxwitness{
      background:#fdfbec;
      color:#dd0d75;
      font-weight: bold;
      
    }