.fcolor{
    color:#023961;
  
  }
  .fcolor2{
    color:#023961;
    font-size: 12px;
  }
  
  .fcolor3{
    color:#fa5f05;
    font-size: 12px;
    font-weight:bold; 
  }
  .nopadding
  {
    color:#fa5f05;
  }
  .hintmsg
{
color:red;
font-size:12px; 
}
.errormsg
{
  color:#ff6969;
}