.error-message {
    color: var(--ion-color-danger);
  }
  
  .label {
    color: rgb(83, 182, 182);
  }
  
  .cocol {
    color: red;
  }
  
  .passwordIcon {
    font-size: 1.6em !important;
    margin: 12px auto !important;
  }
  