.txtalign
{
   text-align: center !important;
}

.txtalignright
{
   text-align: right !important;
   
}
.fcolor
{
  color:#26618c;

}
.bgcolr{
//  background:#dce8d1; 
background: linear-gradient(to right, #FBAF63, #FBAF63 99%) !important;

}
.errormsg
{
  color:#ff6969;
   font-size:12px; 
}
.injbg {
  background: linear-gradient(to right, #FBAF63, #FBAF63 99%) !important;
}
.card-img-absolutes {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
/*--------------------------------------*/

.gbox1{
  background: linear-gradient(to right, #FBAF63, #FBAF63 99%) !important;

//  background:rgb(252, 235, 178);
  color:#153c69;
  font-weight: bold;
  height:100px;
}
.grid{
  margin:8px;
  border-radius: 2px;
}

.injbg {
  background: linear-gradient(to right, #0d98ba, #FBAF63 99%) !important;
}

.fatalbg {
  background: linear-gradient(to right, #043cb4, #fe7096) !important;
}



.grevbg {
  background: linear-gradient(to right, #0d98ba, #fe7096) !important;
}

.grevbgadd {
  background: linear-gradient(to right, #0d98ba, #e7cc33) !important;
}

.simphbg {
  background: linear-gradient(to right, #0d98ba, #ffd265 99%) !important;
}

.simpnhbg {
  background: linear-gradient(to right, #6495ED, #6495ED 99%) !important;
}

.vehbg {
  background: linear-gradient(to right, #0d98ba, #7da0ec 99%) !important;
}

.deadbg[_ngcontent-hil-c4] {
                              background: linear-gradient(to right, #ff718e, #fe7096) !important;
}
.injbg {
  background: linear-gradient(to right, #0d98ba, #1ac5ef 99%) !important;
}
