.pointer{
    cursor: pointer;
   }
   .center-right{
       position: absolute;
       top: 50%;
       right: 25px;
       transform: translateY(-50%);
   }
   .fcolor
{
    color: rgb(3, 95, 182);
}